Repository DFE-Digital/schools-experience, pull requests merged in 2021-11, with the labels that each got.

#2062 Remove dob 2
  app/controllers/candidates/registrations/contact_informations_controller.rb
  app/controllers/candidates/registrations/personal_informations_controller.rb
  app/controllers/candidates/registrations/sign_ins_controller.rb
  app/controllers/candidates/sessions_controller.rb
  app/models/bookings/registration_contact_mapper.rb
  app/models/candidates/session.rb
  app/models/candidates/verification_code.rb
  app/services/bookings/gitis/missing_contact.rb
  app/services/candidates/registrations/application_preview.rb
  app/services/candidates/registrations/personal_information.rb
  app/views/candidates/home/index.html.erb
  app/views/candidates/registrations/application_previews/show.html.erb
  app/views/candidates/registrations/personal_informations/_form.html.erb
  app/views/candidates/registrations/sign_ins/show.html.erb
  app/views/candidates/sessions/create.html.erb
  app/views/candidates/sessions/new.html.erb
  config/initializers/filter_parameter_logging.rb
  config/locales/en.yml
  features/candidates/registrations/application_preview.feature
  features/candidates/registrations/personal_information.feature
  features/step_definitions/candidates/registrations/application_preview_steps.rb
  features/step_definitions/candidates/registrations/verify_your_email_steps.rb
  features/step_definitions/candidates/registrations/wizard_steps.rb
  spec/controllers/candidates/registrations/personal_informations_controller_spec.rb
  spec/controllers/candidates/registrations/sign_ins_controller_spec.rb
  spec/controllers/candidates/sessions_controller_spec.rb
  spec/factories/api_factory.rb
  spec/factories/candidates/registrations/legacy_registration_session.rb
  spec/factories/candidates/registrations/personal_information_factory.rb
  spec/factories/candidates/registrations/registration_session_factory.rb
  spec/features/candidates/api_registrations_spec.rb
  spec/models/bookings/registration_contact_mapper_spec.rb
  spec/models/candidates/session_spec.rb
  spec/models/candidates/verification_code_spec.rb
  spec/services/bookings/gitis/missing_contact_spec.rb
  spec/services/candidates/registrations/application_preview_spec.rb
  spec/services/candidates/registrations/gitis_registration_session_spec.rb
  spec/services/candidates/registrations/personal_information_spec.rb
  spec/support/fake_get_into_teaching_api_client.rb
  spec/support/stubbed_api.rb
  spec/views/candidates/registrations/personal_informations/_form.html.erb_spec.rb
  spec/views/candidates/registrations/sign_ins/show.html.erb_spec.rb
  spec/views/candidates/sessions/create.html.erb_spec.rb
Labels: ruby, Review, Test, Config

#2064 Adding Google Search Console verification
  public/googleff783802e3a5cc0a.html
Labels: Review

#2065 Dependencies
  Gemfile.lock
  yarn.lock
Labels: Review

#2066 Remove date of birth
  app/services/candidates/registrations/personal_information.rb
Labels: ruby, Review

#2069 Set X-Robots-Tag header to all when visiting school profiles
  app/controllers/application_controller.rb
  app/controllers/candidates/schools_controller.rb
  spec/controllers/application_controller_spec.rb
Labels: ruby, Review, Test

#2070 Update Stimulus.js data target attributes
  app/helpers/candidates/maps_helper.rb
  app/views/candidates/registrations/educations/_form.html.erb
Labels: ruby, Review

#2068 Remove the `order by name` option from the school search
  app/controllers/candidates/schools_controller.rb
  app/models/bookings/school_search.rb
  app/models/candidates/school_search.rb
  app/views/candidates/schools/index.html.erb
  app/webpacker/controllers/instant_filter_controller.js
  app/webpacker/stylesheets/stimulus/all.scss
  features/candidates/schools/search/results/sorting.feature
  features/step_definitions/candidates/schools/sorting_steps.rb
  spec/controllers/candidates/schools_controller_spec.rb
  spec/models/bookings/school_search_spec.rb
Labels: ruby, Review, Test, Style

#2072 Table accessibility
  app/views/schools/confirmed_bookings/_booking_table.html.erb
  app/views/schools/placement_dates/index.html.erb
  app/views/schools/placement_requests/_placement_requests_table.html.erb
  app/views/schools/previous_bookings/_table.html.erb
  app/views/schools/rejected_requests/index.html.erb
  app/views/schools/withdrawn_requests/index.html.erb
Labels: ruby, Review

#2073 Add sitemap.xml
  app/controllers/pages_controller.rb
  app/views/pages/robots.txt.erb
  app/views/pages/sitemap.xml.builder
  config/routes.rb
  spec/controllers/pages_controller_spec.rb
Labels: ruby, Review, Test, Config

#2071 Move prevent double click JavaScript into Stimulus.js controller
  app/views/candidates/registrations/application_previews/show.html.erb
  app/views/candidates/registrations/personal_informations/_form.html.erb
  app/webpacker/controllers/prevent_double_click_controller.js
  app/webpacker/packs/application.js
Labels: ruby, Review

#2075 Make the /robots.txt and /sitemap.xml crawlable
  app/controllers/application_controller.rb
  spec/controllers/pages_controller_spec.rb
Labels: ruby, Review, Test

#2074 Fix Google Maps not loading
  app/helpers/candidates/maps_helper.rb
  app/webpacker/controllers/map_controller.js
  app/webpacker/packs/application.js
  package.json
  yarn.lock
Labels: ruby, Review

#2076 Add Allow rules for the robots and sitemap paths
  app/views/pages/robots.txt.erb
Labels: ruby

#2077 Change the schedule time of the sync school job
  app/jobs/cron/sync_schools_job.rb
  spec/jobs/cron/sync_schools_job_spec.rb
Labels: ruby, Review, Test

#2078 Add meta description tags
  Gemfile
  Gemfile.lock
  app/views/candidates/home/index.html.erb
  app/views/candidates/schools/show.html.erb
  app/views/layouts/application.html.erb
  spec/controllers/candidates/home_controller_spec.rb
  spec/controllers/candidates/schools_controller_spec.rb
Labels: ruby, Review, Test

#2080 Quick update to meta desc
  app/views/candidates/schools/show.html.erb
Labels: ruby

#2086 Update Gemfile.lock
  Gemfile.lock
Labels: Review

#2087 Increase the logs in production
  config/environments/production.rb
Labels: ruby, Config

#2085 Update the gitis candidate name when missing
  app/models/candidates/verification_code.rb
  spec/controllers/candidates/registrations/contact_informations_controller_spec.rb
  spec/controllers/candidates/registrations/sign_ins_controller_spec.rb
  spec/factories/api_factory.rb
  spec/factories/bookings/candidates_factory.rb
  spec/factories/candidates/registrations/gitis_registration_session_factory.rb
  spec/helpers/gitis_contact_helper_spec.rb
  spec/models/bookings/candidate_spec.rb
  spec/models/bookings/registration_contact_mapper_spec.rb
  spec/models/candidates/verification_code_spec.rb
  spec/models/schools/csv_export_row_spec.rb
  spec/services/bookings/gitis/contact_fetcher_spec.rb
  spec/services/bookings/reminder_spec.rb
  spec/services/candidates/registrations/gitis_registration_session_spec.rb
  spec/support/candidate_signin.rb
  spec/support/stubbed_api.rb
Labels: ruby, Review, Test

#2088 Hide request button
  app/models/bookings/school.rb
  app/views/candidates/schools/_phase1.html.erb
  app/views/candidates/schools/_phase2.html.erb
  spec/factories/bookings/school_factory.rb
  spec/models/bookings/school_spec.rb
Labels: ruby, Review, Test

#2089 Add banner in school profiles to promote the search page
  app/views/candidates/schools/show.html.erb
  spec/factories/bookings/school_factory.rb
  spec/views/candidates/schools/show.html.erb_spec.rb
Labels: ruby, Review, Test

#2051 Various content changes
  app/views/candidates/registrations/placement_preferences/_form.html.erb
  app/views/candidates/registrations/subject_and_date_informations/_form.html.erb
  app/views/candidates/registrations/teaching_preferences/_form.html.erb
  app/views/schools/contact_us/show.html.erb
  app/views/schools/feedbacks/new.html.erb
  app/views/service_updates/index.html.erb
  app/views/service_updates/show.html.erb
  config/locales/en.yml
  features/candidates/registrations/subject_and_date_information.feature
Labels: ruby, Review, Config

#2092 Add full stop
  app/views/candidates/schools/show.html.erb
  spec/views/candidates/schools/show.html.erb_spec.rb
Labels: ruby, Review, Test

#2091 Hide the placement details for non-onboarded schools
  app/views/candidates/schools/_phase1.html.erb
  spec/views/candidates/schools/show.html.erb_spec.rb
Labels: ruby, Review, Test

#2098 Remove Google Analytics automatic cookie domain configuration
  app/views/application/_google_analytics.html.erb
  spec/requests/google_analytics/presence_spec.rb
Labels: ruby, Test

#2099 Use `document.location.hostname` for Google Analytics cookies domain
  app/views/application/_google_analytics.html.erb
  spec/requests/google_analytics/presence_spec.rb
Labels: ruby, Review, Test

#2102 Set Google analytics domain options to `none`
  app/views/application/_google_analytics.html.erb
  spec/requests/google_analytics/presence_spec.rb
Labels: ruby, Test

#2103 Add the candidate name in the request rejection email
  app/controllers/schools/placement_requests/cancellations/notification_deliveries_controller.rb
  app/notify/notify_email/candidate_request_rejection.rb
  app/notify/notify_email/candidate_request_rejection_nopiii.74f84226-539a-43b0-b887-d8ffc9348965.md
  spec/controllers/schools/placement_requests/cancellations/notification_deliveries_controller_spec.rb
  spec/notify/notify_email/candidate_request_rejection_spec.rb
  spec/support/fake_get_into_teaching_api_client.rb
Labels: ruby, Review, Test

#2105 Re-enable buttons when navigating to page with browser back button
  app/webpacker/controllers/prevent_double_click_controller.js
Labels: Review

#2107 Create clean-azure.yml
  .github/workflows/clean-azure.yml
Labels: DevOps

#2101 Updated copy on 'what do you want to get out of your placement'
  app/views/candidates/registrations/placement_preferences/_form.html.erb
Labels: ruby, Review

#2106 Validate that candidate second subject choice is different than first
  app/services/candidates/registrations/behaviours/teaching_preference.rb
  spec/factories/bookings/placement_requests_factory.rb
  spec/services/candidates/registrations/teaching_preference_spec.rb
Labels: ruby, Review, Test

#2108 Delete Terraform State File
  .github/workflows/destroy.yml
Labels: Review, DevOps

#2110 Update typo
  app/views/candidates/home/index.html.erb
Labels: ruby, Review

#2118 Archive flex request that are unprocessed for two months
  app/models/bookings/placement_request.rb
  spec/controllers/schools/archived_placement_requests_controller_spec.rb
  spec/controllers/schools/placement_requests_controller_spec.rb
Labels: ruby, Review, Test

#2119 Usability fix of H3 -> H2
  app/views/candidates/registrations/placement_requests/show.html.erb
Labels: ruby
