Repository DFE-Digital/schools-experience, pull requests merged in 2021-12, with the labels that each got.

#2126 Fix the broken feature tests
  features/schools/attendances/index.feature
  features/schools/confirm_attendance.feature
  features/schools/confirmed_bookings/editing_a_date.feature
  features/schools/confirmed_bookings/index.feature
  features/schools/confirmed_bookings/show.feature
  features/schools/previous_bookings/index.feature
  features/schools/previous_bookings/show.feature
  features/step_definitions/schools/attendances_steps.rb
  features/step_definitions/schools/bookings_steps.rb
  features/step_definitions/schools/previous_bookings_steps.rb
  spec/factories/bookings/placement_requests_factory.rb
Labels: Test

#2117 Adding 'What to expect' page
  app/controllers/candidates/home_controller.rb
  app/views/candidates/home/guide_for_candidates.html.erb
  app/views/candidates/home/index.html.erb
  config/routes.rb
  spec/controllers/candidates/home_controller_spec.rb
Labels: ruby, Review, Test, Config

#2128 Redesign the school dashboard
  app/views/schools/dashboards/_account_admin.html.erb
  app/views/schools/dashboards/_help_and_support.html.erb
  app/views/schools/dashboards/_history_and_support.html.erb
  app/views/schools/dashboards/_manage_dates.html.erb
  app/views/schools/dashboards/_new_requests_and_bookings.html.erb
  app/views/schools/dashboards/_profile_and_dates.html.erb
  app/views/schools/dashboards/_requests_and_bookings.html.erb
  app/views/schools/dashboards/show.html.erb
  app/webpacker/stylesheets/school-dashboard.scss
  features/schools/dashboard.feature
  features/schools/signin.feature
  features/step_definitions/schools/dashboard_steps.rb
Labels: ruby, Review, Style

#2129 Do not display rejected requests in the manage requests page
  app/controllers/schools/placement_requests_controller.rb
  features/schools/placement_requests/index.feature
  features/step_definitions/schools/placement_request_steps.rb
  spec/controllers/schools/placement_requests_controller_spec.rb
  spec/factories/bookings/placement_request/cancellations_factory.rb
Labels: ruby, Review, Test

#2138 Expire flex requests only when they are archived
  app/models/bookings/placement_request.rb
  spec/models/bookings/placement_request_spec.rb
Labels: ruby, Review, Test

#2139 Display the cancelled bookings in their own page
  app/controllers/schools/cancelled_bookings_controller.rb
  app/models/bookings/booking.rb
  app/views/schools/cancelled_bookings/_table.html.erb
  app/views/schools/cancelled_bookings/index.html.erb
  app/views/schools/cancelled_bookings/show.html.erb
  app/views/schools/dashboards/_history_and_support.html.erb
  config/routes.rb
  features/schools/cancelled_bookings/index.feature
  features/schools/cancelled_bookings/show.feature
  features/schools/dashboard.feature
  features/step_definitions/schools/cancelled_bookings_steps.rb
  features/support/path_helper.rb
  spec/controllers/schools/cancelled_bookings_controller_spec.rb
  spec/models/bookings/booking_spec.rb
Labels: ruby, Review, Test, Config

#2140 Improve dates position for long subject lists
  app/webpacker/stylesheets/subject-and-date-information.scss
Labels: Review, Style

#2141 Remove the DSI service list links
  app/helpers/application_helper.rb
  app/views/shared/application/_phase_banner.html.erb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/servertest.rb
  config/environments/test.rb
  features/schools/landing_page.feature
  features/step_definitions/schools/account_steps.rb
Labels: ruby, Review, Config

#2142 Fix N+1 in the rejected request page
  app/controllers/schools/rejected_requests_controller.rb
Labels: ruby, Review

#2143 Update Ruby to 2.7.5
  .ruby-version
  Dockerfile
  Gemfile.lock
  README.md
Labels: docker, Review

#2130 Onboarding copy updates
  app/helpers/schools/dashboards_helper.rb
  app/presenters/schools/on_boarding/school_profile_presenter.rb
  app/views/candidates/schools/_phase2.html.erb
  app/views/schools/dashboards/_update_your_school_profile.html.erb
  app/views/schools/on_boarding/candidate_requirements_selections/_form.html.erb
  app/views/schools/on_boarding/key_stage_lists/_form.html.erb
  app/views/schools/on_boarding/phases_lists/_form.html.erb
  config/locales/en.yml
  features/candidates/schools/show/full_school_details.feature
  features/schools/dashboard.feature
  features/schools/onboarding/phases.feature
  features/schools/onboarding/school_profile.feature
  features/step_definitions/candidates/schools/show_steps.rb
  features/step_definitions/schools/onboarding_steps.rb
  spec/forms/schools/on_boarding/phases_list_spec.rb
  spec/helpers/schools/dashboards_helper_spec.rb
  spec/support/schools/on_boarding/school_fee_shared_examples.rb
Labels: ruby, Review, Test, Config

#2147 Bump up Rails to v6.1.4.4
  Gemfile
  Gemfile.lock
Labels: Review

#2148 Fix broken feature tests
  features/schools/onboarding/school_profile.feature
  features/step_definitions/schools/dashboard_steps.rb
Labels: Review

#2149 Inherit the booking duration from the placement date
  app/controllers/schools/placement_requests/acceptance/make_changes_controller.rb
  app/models/bookings/booking.rb
  app/views/schools/placement_requests/acceptance/make_changes/new.html.erb
  config/locales/en.yml
  features/schools/placement_requests/acceptance/confirming_a_request_with_a_future_date.feature
  spec/models/bookings/booking_spec.rb
Labels: ruby, Review, Test, Config

#2150 Prevent the confirmation email from failing when the experience_details is nil
  app/notify/notify_email/candidate_booking_confirmation.rb
  spec/notify/notify_email/candidate_booking_confirmation_spec.rb
Labels: ruby, Review, Test

#2157 Update the return links in the dashboard pages
  app/views/schools/attendances/index.html.erb
  app/views/schools/cancelled_bookings/index.html.erb
  app/views/schools/confirm_attendance/show.html.erb
  app/views/schools/confirmed_bookings/index.html.erb
  app/views/schools/confirmed_bookings/show.html.erb
  app/views/schools/placement_requests/index.html.erb
  app/views/schools/placement_requests/show.html.erb
  app/views/schools/previous_bookings/index.html.erb
  app/views/schools/rejected_requests/index.html.erb
  app/views/schools/withdrawn_requests/index.html.erb
  features/schools/confirm_attendance.feature
  features/step_definitions/schools/confirm_attendance_steps.rb
Labels: ruby, Review

#2159 Update the return link in the archived requests page
  app/views/schools/archived_placement_requests/index.html.erb
Labels: ruby, Review
