Repository DFE-Digital/schools-experience, pull requests merged in 2021-09, with the labels that each got.

#1920 Add a date range to csv export page
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/schools/csv_exports_controller.rb
  app/forms/schools/csv_export_form.rb
  app/helpers/application_helper.rb
  app/models/schools/csv_export.rb
  app/views/schools/csv_exports/_form.html.erb
  app/views/schools/csv_exports/show.html.erb
  config/locales/en.yml
  features/schools/csv_export.feature
  features/step_definitions/schools/csv_export_steps.rb
  spec/controllers/schools/csv_exports_controller_spec.rb
  spec/forms/schools/csv_export_form_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/models/schools/csv_export_spec.rb
Labels: ruby, Review, Test, Config

#1922 Manual Deploy Fails
  .github/workflows/manual.yml
Labels: Review, DevOps

#1938 Replace Anchore with Snyk
  .github/workflows/build.yml
Labels: Review, DevOps

#1949 Rename the Change school button to Select school
  app/views/schools/change_schools/show.html.erb
  features/schools/signin.feature
  features/step_definitions/schools/signin_steps.rb
Labels: ruby, do not merge, Review

#1950 Adding warning text to check answers page as stopgap
  app/views/schools/on_boarding/profiles/show.html.erb
Labels: ruby, Review

#1951 Update Chat Online Path
  app/helpers/application_helper.rb
  app/views/candidates/placement_requests/cancellations/_show_placement_request_cancelled_by_candidate.html.erb
Labels: ruby, Review

#1952 Update _show_booking_cancelled_by_candidate.html.erb
  app/views/candidates/placement_requests/cancellations/_show_booking_cancelled_by_candidate.html.erb
Labels: ruby, Review

#1954 Update the change school layout
  app/controllers/schools/change_schools_controller.rb
  app/views/schools/change_schools/show.html.erb
  config/locales/en.yml
  features/schools/signin.feature
  features/step_definitions/schools/signin_steps.rb
  spec/controllers/schools/change_schools_controller_spec.rb
  spec/views/schools/change_schools/show.html.erb_spec.rb
Labels: ruby, Review, Test, Config

#1939 Migrate the cookie preferences form to govuk_design_system_formbuilder
  app/views/cookie_preferences/edit.html.erb
  config/locales/en.yml
Labels: ruby, Review, Config

#1932 Migrate the feedback forms to govuk_elements_form_builder
  app/views/feedbacks/_form.html.erb
  config/locales/en.yml
Labels: ruby, Review, Config

#1918 Document Postgres Export Sequence
  terraform/paas/migrate/MIGRATE.md
Labels: Review

#1965 PAAS Routes Added
  terraform/paas/production.env.tfvars
  terraform/paas/staging.env.tfvars
Labels: Review, DevOps

#1966 Terraform shouldnt set DFE_SIGNIN_BASE_URL
  terraform/paas/application.tf
Labels: Review, DevOps

#1969 Move the school changes confirmation to the summary page
  app/controllers/schools/on_boarding/confirmations_controller.rb
  app/controllers/schools/on_boarding/previews_controller.rb
  app/controllers/schools/on_boarding/profiles_controller.rb
  app/views/schools/on_boarding/previews/show.html.erb
  app/views/schools/on_boarding/profiles/show.html.erb
  app/webpacker/stylesheets/application.scss
  app/webpacker/stylesheets/school-preview.scss
  features/schools/onboarding/preview.feature
  features/schools/onboarding/school_profile.feature
  spec/controllers/schools/on_boarding/confirmations_controller_spec.rb
Labels: ruby, Review, Test, Style

#1971 Use the schools privacy policy in the school dashboard
  app/views/layouts/application.html.erb
Labels: ruby, Review

#1980 Add helptext to change dates and how displayed
  app/views/schools/dashboards/_manage_dates.html.erb
  features/schools/dashboard.feature
Labels: ruby

#1981 Update the dfe signin secret
  config/credentials.yml.enc
Labels: Config

#1982 Dummy Commit to force build
  CUCUMBER_TESTING.md
Labels: Review

#1955 Adding help text for a common error
  app/controllers/pages_controller.rb
  app/views/pages/_request_organisation_access.html.erb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/servertest.rb
  config/environments/staging.rb
  config/environments/test.rb
Labels: ruby, Review, Config

#1983 Update start page - new copy PLUS amends to content dashboard
  app/views/candidates/home/index.html.erb
  app/views/schools/dashboards/_account_admin.html.erb
  app/views/schools/dashboards/_manage_dates.html.erb
  app/views/schools/dashboards/_new_requests_and_bookings.html.erb
  features/schools/dashboard.feature
Labels: ruby, Review

#1986 Updating more helptext on dashboard
  app/views/schools/dashboards/_account_admin.html.erb
  app/views/schools/dashboards/_manage_dates.html.erb
  app/views/schools/dashboards/_new_requests_and_bookings.html.erb
  features/schools/dashboard.feature
Labels: ruby, Review

#1987 Fix content
  app/views/pages/_request_organisation_access.html.erb
Labels: ruby

#1953 Stop Merges
  .github/workflows/stop_merges.yml
Labels: Review, DevOps
