Repository DFE-Digital/schools-experience, pull requests merged in 2021-10, with the labels that each got.

#1990 add back links
  app/views/candidates/registrations/application_previews/show.html.erb
  app/views/candidates/registrations/background_checks/_form.html.erb
  app/views/candidates/registrations/confirmation_emails/show.html.erb
  app/views/candidates/registrations/contact_informations/_form.html.erb
  app/views/candidates/registrations/educations/_form.html.erb
  app/views/candidates/registrations/personal_informations/_form.html.erb
  app/views/candidates/registrations/placement_preferences/_form.html.erb
  app/views/candidates/registrations/sign_ins/show.html.erb
  app/views/candidates/registrations/teaching_preferences/_form.html.erb
  app/views/candidates/school_searches/new.html.erb
Labels: ruby, Review

#1988 Content improvements and update tests (requests on/off pages)
  app/helpers/schools/dashboards_helper.rb
  app/views/schools/dashboards/_account_admin.html.erb
  config/locales/en.yml
  features/schools/dashboard.feature
  features/schools/toggle_enabling_and_disabling.feature
  spec/helpers/schools/dashboards_helper_spec.rb
Labels: ruby, Review, Test, Config

#1991 update error message and tests
  app/views/schools/dashboards/_your_school_is_disabled.html.erb
  features/step_definitions/schools/dashboard_steps.rb
Labels: ruby, Review

#1992 Updated radios
  config/locales/en.yml
  features/schools/toggle_enabling_and_disabling.feature
Labels: Config

#1993 Updated IA: Post UR
  app/views/schools/dashboards/_account_admin.html.erb
  app/views/schools/dashboards/_manage_dates.html.erb
  app/views/schools/dashboards/_new_requests_and_bookings.html.erb
  app/views/schools/dashboards/show.html.erb
  features/schools/csv_export.feature
  features/schools/dashboard.feature
Labels: ruby, Review

#1998 Add Routine to get next available static route
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  script/get_next_mapping.sh
  terraform/paas/application.tf
  terraform/paas/route.tf
  terraform/paas/variables.tf
Labels: Review, DevOps

#2000 Comment about Review Applications
  .github/workflows/build.yml
  README.md
Labels: Review, DevOps

#2005 Font size change for help and support
  app/views/schools/dashboards/show.html.erb
  features/schools/dashboard.feature
Labels: ruby, Review
