Repository DFE-Digital/schools-experience, pull requests merged in 2021-07, with the labels that each got.

#1804 Add Terraform
  .github/dependabot.yml
Labels: DevOps, Review

#1803 Upgrade npm packages
  yarn.lock
Labels: Review

#1810 Healthcheck
  app/models/healthcheck.rb
  spec/controllers/healthchecks_controller_spec.rb
  spec/models/healthcheck_spec.rb
Labels: Review, Test, ruby

#1817 Remove git_api feature flags from views
  app/views/candidates/registrations/sign_ins/show.html.erb
  app/views/candidates/sessions/create.html.erb
  features/candidates/registrations/verify_your_email.feature
  spec/features/candidates/registrations_spec.rb
  spec/views/candidates/registrations/sign_ins/show.html.erb_spec.rb
  spec/views/candidates/sessions/create.html.erb_spec.rb
Labels: Review, Test, ruby

#1823 Update the dashboard link in the change school page
  app/views/schools/change_schools/show.html.erb
  spec/views/schools/change_schools/show.html.erb_spec.rb
Labels: Review, Test, ruby

#1824 Change typewriter apostrophe to typesetter
  app/views/candidates/registrations/sign_ins/show.html.erb
Labels: Review, ruby

#1831 Bump up govuk_frontend_toolkit to v9.0.1
  Gemfile.lock
Labels: Review

#1832 Replace the deprecated postcss-cssnext with postcss-preset-env
  .postcssrc.yml
  package.json
  yarn.lock
Labels: Review

#1833 Remove the webpack-cli package
  package.json
  yarn.lock
Labels: Review

#1819 Remove legacy CRM integration code from controllers/models
  app/controllers/candidates/registrations/personal_informations_controller.rb
  app/controllers/candidates/registrations/sign_ins_controller.rb
  app/controllers/candidates/sessions_controller.rb
  app/controllers/schools/rejected_requests_controller.rb
  app/jobs/bookings/log_to_gitis_job.rb
  app/models/bookings/candidate.rb
  app/models/bookings/subject_sync.rb
  app/models/healthcheck.rb
  app/services/bookings/gitis/event_logger.rb
  app/services/bookings/reminder.rb
  config/environments/test.rb
  config/routes.rb
  features/candidates/dashboard.feature
  features/candidates/registrations/education.feature
  features/candidates/registrations/request_school_experience_placement/page_contents.feature
  features/step_definitions/candidates/dashboard_steps.rb
  features/support/env.rb
  features/support/path_helper.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/candidates/placement_requests/cancellations_controller_spec.rb
  spec/controllers/candidates/registrations/personal_informations_controller_spec.rb
  spec/controllers/candidates/registrations/placement_requests_controller_spec.rb
  spec/controllers/candidates/registrations/sign_ins_controller_spec.rb
  spec/controllers/candidates/sessions_controller_spec.rb
  spec/controllers/healthchecks_controller_spec.rb
  spec/controllers/schools/confirm_attendance_controller_spec.rb
  spec/controllers/schools/confirmed_bookings/cancellations/notification_deliveries_controller_spec.rb
  spec/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller_spec.rb
  spec/controllers/schools/placement_requests/cancellations/notification_deliveries_controller_spec.rb
  spec/controllers/schools/rejected_requests_controller_spec.rb
  spec/jobs/bookings/log_to_gitis_job_spec.rb
  spec/models/bookings/subject_sync_spec.rb
  spec/models/healthcheck_spec.rb
  spec/models/schools/attendance_spec.rb
  spec/services/bookings/gitis/event_logger_spec.rb
  spec/services/bookings/reminder_spec.rb
  spec/support/fake_get_into_teaching_api_client.rb
  spec/support/stubbed_api.rb
Labels: Config, Review, Test, ruby

#1821 Remove legacy CRM integration code from core classes
  app/controllers/candidates/registrations/placement_requests_controller.rb
  app/controllers/concerns/gitis_authentication.rb
  app/helpers/gitis_contact_helper.rb
  app/models/bookings/candidate.rb
  app/models/bookings/registration_contact_mapper.rb
  app/models/schools/csv_export_row.rb
  app/services/bookings/gitis/contact_fetcher.rb
  app/services/bookings/gitis/store/dynamics.rb
  app/views/schools/confirmed_bookings/date/edit.html.erb
  app/views/schools/placement_requests/_placement_request.html.erb
  app/views/schools/placement_requests/acceptance/email_sent/show.html.erb
  app/views/schools/placement_requests/show.html.erb
  features/schools/confirmed_bookings/show.feature
  features/schools/placement_requests/cancelling.feature
  features/schools/placement_requests/show.feature
  features/schools/previous_bookings/show.feature
  features/schools/rejected_requests/show.feature
  features/schools/withdrawn_requests/show.feature
  spec/controllers/candidates/placement_requests/cancellations_controller_spec.rb
  spec/controllers/candidates/registrations/background_checks_controller_spec.rb
  spec/controllers/candidates/registrations/confirmation_emails_controller_spec.rb
  spec/controllers/candidates/registrations/contact_informations_controller_spec.rb
  spec/controllers/candidates/registrations/personal_informations_controller_spec.rb
  spec/controllers/candidates/registrations/placement_requests_controller_spec.rb
  spec/controllers/candidates/registrations/sign_ins_controller_spec.rb
  spec/controllers/candidates/sessions_controller_spec.rb
  spec/controllers/healthchecks_controller_spec.rb
  spec/controllers/schools/confirmed_bookings/cancellations/notification_deliveries_controller_spec.rb
  spec/controllers/schools/confirmed_bookings/date_controller_spec.rb
  spec/controllers/schools/placement_requests/cancellations/notification_deliveries_controller_spec.rb
  spec/controllers/schools/placement_requests_controller_spec.rb
  spec/factories/api_factory.rb
  spec/factories/bookings/candidates_factory.rb
  spec/factories/candidates/registrations/gitis_registration_session_factory.rb
  spec/features/candidates/api_registrations_spec.rb
  spec/helpers/gitis_contact_helper_spec.rb
  spec/models/bookings/candidate_spec.rb
  spec/models/bookings/registration_contact_mapper_spec.rb
  spec/models/schools/csv_export_row_spec.rb
  spec/models/schools/csv_export_spec.rb
  spec/services/bookings/gitis/contact_fetcher_spec.rb
  spec/services/bookings/gitis/store/dynamics_spec.rb
  spec/services/candidates/registrations/gitis_registration_session_spec.rb
  spec/support/candidate_signin.rb
  spec/support/fake_get_into_teaching_api_client.rb
  spec/support/stubbed_api.rb
Labels: Review, Test, ruby

#1834 Alias firstname/lastname on MissingContact
  app/services/bookings/gitis/missing_contact.rb
  spec/services/bookings/gitis/missing_contact_spec.rb
Labels: Review, Test, ruby

#1839 Remove SyncSubjectsWithGitisJob instances
  app/jobs/cron/sync_subjects_with_gitis_job.rb
  spec/jobs/cron/sync_subjects_with_gitis_job_spec.rb
Labels: Review, Test, ruby

#1840 Revert "Remove SyncSubjectsWithGitisJob instances"
  app/jobs/cron/sync_subjects_with_gitis_job.rb
  spec/jobs/cron/sync_subjects_with_gitis_job_spec.rb
Labels: Review, Test, ruby

#1848 Update the Help and Support email address
  app/notify/notify_email/school_request_confirmation_link_only.2a5a54b8-17cb-4da8-94ce-1647d6bf1da3.md
  app/views/pages/schools_privacy_policy.html.erb
Labels: Review, ruby

#1801 Push test artifacts into Sonarcloud
  .github/workflows/build.yml
  .zap/rules.tsv
  sonar-project.properties
Labels: DevOps, Review

#1850 Remove unused env vars for direct CRM integration
  config/environments/development.rb
  config/environments/production.rb
  config/environments/servertest.rb
  config/environments/test.rb
  doc/env-vars.md
Labels: Config, Review, ruby

#1851 Fix Application Environment Setting
  terraform/paas/staging.env.tfvars
Labels: DevOps, Review

#1852 Update another mention to the old help and support email address
  app/views/pages/schools_privacy_policy.html.erb
Labels: ruby

#1854 Add the delayed_job script
  Gemfile
  Gemfile.lock
  bin/delayed_job
Labels: Review
