Repository DFE-Digital/schools-experience, pull requests merged in 2021-06, with the labels that each got.

#1754 Pipeline Advanced
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/review.env.tfvars
  terraform/paas/services.tf
  terraform/paas/variables.tf
  tests/confidence/healthcheck.sh
Labels: Review

#1759 Fix the cookies link in the privacy policy page
  app/views/pages/_8da7ae80-82f2-ea11-a815-000d3a44afcc.html.erb
Labels: Review

#1758 Pipeline Advanced
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/manual.yml
  .github/workflows/trello.yml
  .gitignore
  Makefile
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/dev.bk.vars
  terraform/paas/dev.env.tfvars
  terraform/paas/review.bk.vars
  terraform/paas/review.env.tfvars
  terraform/paas/services.tf
Labels: Review

#1755 Add DDoS protection
  .env.production
  Gemfile
  Gemfile.lock
  app/controllers/errors_controller.rb
  app/views/errors/too_many_requests.html.erb
  bin/rspec
  config/application.rb
  config/initializers/exclude_cloudfront_ips.rb
  config/initializers/rack_attack.rb
  config/routes.rb
  db/seeds.rb
  lib/cloud_front_ip_filter.rb
  spec/controllers/errors_controller_spec.rb
  spec/lib/cloud_front_ip_filter_spec.rb
  spec/requests/rate_limiting_spec.rb
  spec/support/rate_limiting_support.rb
Labels: Config, Review, Test, ruby

#1762 Display the correct experience type in school pages
  app/helpers/candidates/school_helper.rb
  app/views/candidates/schools/_phase1.html.erb
  app/views/candidates/schools/_phase2.html.erb
Labels: Review, ruby

#1763 Fix typo in the cancellation page
  app/views/candidates/placement_requests/cancellations/_show_placement_request_cancelled_by_candidate.html.erb
Labels: ruby

#1769 Fix address number being duplicated
  app/models/bookings/registration_contact_mapper.rb
  spec/models/bookings/registration_contact_mapper_spec.rb
Labels: Review, Test, ruby

#1770 Add invisible captcha protection to candidates feedback form
  Gemfile
  Gemfile.lock
  app/controllers/candidates/feedbacks_controller.rb
  app/views/feedbacks/_form.html.erb
  config/initializers/invisible_captcha.rb
  spec/features/feedback_spec.rb
Labels: Config, Review, Test, ruby

#1771 Fix Database Connection
  terraform/paas/application.tf
Labels: DevOps, Review

#1772 Fix Database Connection
  terraform/paas/application.tf
  terraform/paas/review.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps, Review

#1774 Handle gracefully the dfe sign in healthchecks
  app/models/healthcheck.rb
  app/services/schools/dfe_sign_in_api/client.rb
  spec/models/healthcheck_spec.rb
Labels: Review, Test, ruby

#1773 Redirect non GET referers to root_path
  app/controllers/cookie_preferences_controller.rb
  spec/features/cookie_preferences_spec.rb
Labels: Review, Test, ruby

#1776 Rescue timeouts when health checking Redis
  app/models/healthcheck.rb
  spec/models/healthcheck_spec.rb
Labels: Review, Test, ruby

#1775 Initial Delivery to PaaS
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  terraform/paas/application.tf
  terraform/paas/backend.tf
  terraform/paas/data.tf
  terraform/paas/dev.bk.vars
  terraform/paas/dev.env.tfvars
  terraform/paas/domain.tf
  terraform/paas/migrate/manifest.yml
  terraform/paas/provider.tf
  terraform/paas/review.bk.vars
  terraform/paas/review.env.tfvars
  terraform/paas/route.tf
  terraform/paas/services.tf
  terraform/paas/space.tf
  terraform/paas/staging.bk.vars
  terraform/paas/staging.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps, Review

#1779 Logging and Statuscake Added
  Makefile
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/provider.tf
  terraform/paas/services.tf
  terraform/paas/staging.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/variables.tf
Labels: DevOps, Review

#1780 Changed the Provider
  terraform/paas/provider.tf
Labels: DevOps, Review

#1782 Fix Artifacts
  .github/workflows/build.yml
  terraform/paas/variables.tf
Labels: DevOps, Review

#1784 Code Coverage Gem Added
  .gitignore
  Gemfile
  Gemfile.lock
  spec/spec_helper.rb
Labels: Review, Test

#1785 Staging Vault
  terraform/paas/application.tf
  terraform/paas/migrate/MIGRATE.md
  terraform/paas/staging.bk.vars
  terraform/paas/staging.env.tfvars
Labels: DevOps

#1781 Check All Secrets
  .github/workflows/deploy.yml
Labels: DevOps, Review

#1783 Codebase maintenance
  .rubocop.yml
  Gemfile.lock
  app/controllers/candidates/schools_controller.rb
  app/controllers/concerns/gitis_authentication.rb
  app/controllers/schools/base_controller.rb
  app/controllers/schools/insecure_sessions_controller.rb
  app/controllers/schools/sessions_controller.rb
  app/helpers/schools/confirm_attendance_helper.rb
  app/models/bookings/data/school_mass_importer.rb
  app/models/bookings/profile_attributes_convertor.rb
  app/models/bookings/school_search.rb
  app/models/bookings/school_sync.rb
  app/models/cookie_preference.rb
  app/models/schools/on_boarding/profile_subject.rb
  app/presenters/candidates/school_presenter.rb
  app/services/bookings/gitis/api.rb
  app/services/bookings/gitis/auth.rb
  app/services/bookings/gitis/entity.rb
  app/services/bookings/gitis/factory.rb
  app/services/bookings/gitis/store/write_only_cache.rb
  app/services/candidates/registrations/registration_session.rb
  app/services/candidates/registrations/registration_store.rb
  app/validators/email_format_validator.rb
  bin/update
  config/environments/development.rb
  config/environments/production.rb
  config/environments/servertest.rb
  config/initializers/canonical_redirect.rb
  config/puma.rb
  db/migrate/20210622134457_add_unique_index_to_booking_cancellations.rb
  db/migrate/20210622155324_add_unique_index_to_bookings_schools_phases.rb
  db/migrate/20210622160115_add_unique_index_to_schools_on_boarding_profile_subjects.rb
  db/schema.rb
  features/step_definitions/candidates/schools/show_steps.rb
  features/step_definitions/schools/placement_request_steps.rb
  features/support/database_cleaner.rb
  features/support/feature_helper.rb
  lib/notify/notify_sync.rb
  script/cleanse
  spec/controllers/candidates/dashboard_base_controller_spec.rb
  spec/controllers/candidates/registrations/subject_and_date_informations_controller_spec.rb
  spec/controllers/concerns/dfe_authentication_spec.rb
  spec/controllers/concerns/gitis_access_spec.rb
  spec/forms/schools/on_boarding/experience_outline_spec.rb
  spec/lib/notify/notify_sync_spec.rb
  spec/models/bookings/data/school_mass_importer_spec.rb
  spec/models/concerns/yaml_model_spec.rb
  spec/models/feature_spec.rb
  spec/notify/notify_spec.rb
  spec/services/bookings/gitis/entity_spec.rb
  spec/services/bookings/gitis/factory_spec.rb
  spec/services/bookings/gitis/store/read_write_cache_spec.rb
  spec/services/bookings/gitis/store/write_only_cache_spec.rb
  spec/services/candidates/registrations/contact_information_spec.rb
  spec/services/candidates/registrations/registration_as_placement_request_spec.rb
  spec/services/schools/dfe_sign_in_api/client_spec.rb
  spec/support/rate_limiting_support.rb
  spec/validators/email_format_validator_spec.rb
Labels: Config, Test, ruby

#1787 Get Healthchecks to display SHA
  .github/workflows/deploy.yml
  Dockerfile
  app/models/healthcheck.rb
  spec/models/healthcheck_spec.rb
  tests/confidence/healthcheck.sh
Labels: DevOps, Review, Test, docker, ruby

#1795 Add Internet Route (Staging)
  terraform/paas/staging.env.tfvars
Labels: DevOps, Review

#1796 Fix OWASP Testing
  .github/workflows/.zap/rules.tsv
  .github/workflows/build.yml
Labels: DevOps, Review
