Repository DFE-Digital/schools-experience, pull requests merged in 2021-08, with the labels that each got.

#1855 Create a Second Container to Run Delayed Jobs
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/provider.tf
  terraform/paas/route.tf
  terraform/paas/staging.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps, Review

#1873 Fix typo in the approver access denied page
  app/views/schools/change_schools/show.html.erb
Labels: Review, ruby

#1393 SE-1884 Show counters on change school
  app/helpers/schools/dashboards_helper.rb
  app/models/bookings/placement_request.rb
  app/models/schools/change_school.rb
  app/views/schools/change_schools/show.html.erb
  app/webpacker/stylesheets/alert-counters.scss
  app/webpacker/stylesheets/application.scss
  app/webpacker/stylesheets/school-dashboard.scss
  features/schools/signin.feature
  features/step_definitions/schools/signin_steps.rb
  spec/factories/bookings/bookings_factory.rb
  spec/factories/bookings/placement_request_factory.rb
  spec/helpers/schools/dashboards_helper_spec.rb
  spec/models/bookings/placement_request_spec.rb
  spec/models/schools/change_school_spec.rb
Labels: enhancement

#1874 Sonarcloud Code Coverage
  .github/workflows/build.yml
Labels: DevOps, Review

#1878 Terraform For Production
  terraform/paas/application.tf
  terraform/paas/production.bk.vars
  terraform/paas/production.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps, Review

#1879 Enable Deploy to Production
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: Review, DevOps

#1880 Change Name of Process
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: Review, DevOps

#1886 Update the form label for the maximum_distance_from_school field
  config/locales/en.yml
  features/step_definitions/schools/onboarding_steps.rb
Labels: Review, Config

#1881 Get and display the latest privacy policy from the CRM
  app/controllers/pages_controller.rb
  app/models/bookings/registration_contact_mapper.rb
  app/views/pages/_0a203956-e935-ea11-a813-000d3a44a8e9.html.erb
  app/views/pages/_8da7ae80-82f2-ea11-a815-000d3a44afcc.html.erb
  app/views/pages/_d1adf2ad-e7c4-e911-a981-000d3a206976.html.erb
  app/views/pages/privacy_policy.html.erb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/servertest.rb
  config/environments/test.rb
  doc/env-vars.md
  spec/controllers/candidates/registrations/placement_requests_controller_spec.rb
  spec/controllers/pages_controller_spec.rb
  spec/features/candidates/api_registrations_spec.rb
  spec/models/bookings/candidate_spec.rb
  spec/models/bookings/registration_contact_mapper_spec.rb
  spec/support/stubbed_api.rb
Labels: ruby, Review, Test, Config

#1877 Update the CSP policy
  Gemfile
  app/controllers/concerns/maps_content_security_policy.rb
  app/helpers/candidates/maps_helper.rb
  app/views/application/_google_analytics.html.erb
  app/views/layouts/application.html.erb
  app/views/schools/on_boarding/descriptions/_form.html.erb
  app/views/shared/application/_javascript_cookie_preferences.html.erb
  config/initializers/content_security_policy.rb
  spec/helpers/candidates/maps_helper_spec.rb
  spec/helpers/candidates/school_helper_spec.rb
  spec/requests/google_analytics/presence_spec.rb
Labels: ruby, Review, Test, Config

#1888 Allow connections to webpack dev server
  config/initializers/content_security_policy.rb
  config/webpacker.yml
Labels: ruby, Review, Config

#1895 Make the site header link context dependent
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  spec/helpers/application_helper_spec.rb
Labels: ruby, Review, Test

#1896 Upgrade various gems
  Gemfile.lock
Labels: Review

#1897 Add the Contact us link in the school dashboard footer
  app/views/layouts/application.html.erb
Labels: ruby, Review

#1900 Update Gemfile to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Labels: Review

#1909 Update the links to GIT
  app/notify/notify_email/candidate_request_rejection_nopiii.74f84226-539a-43b0-b887-d8ffc9348965.md
  app/views/candidates/schools/_expanded_search.html.erb
  app/views/schools/confirmed_bookings/cancellations/_letter.html.erb
  app/views/schools/placement_requests/cancellations/_letter.html.erb
  app/views/shared/candidates/_alert_notification.html.erb
  features/step_definitions/candidates/schools/results_steps.rb
Labels: ruby, Review

#1916 Set Production to use S105p01-kv
  terraform/paas/production.env.tfvars
Labels: Review, DevOps
