Repository DFE-Digital/schools-experience, pull requests merged in 2022-06, with the labels that each got.

#2519 Increase to use all 20 available DSi routes
  package.json
  script/get_next_mapping.sh
  yarn.lock
Labels: Review

#2517 Clean up environment variables
  .env.staging
  config/environments/development.rb
  config/initializers/canonical_redirect.rb
  docs/documents/env-vars.md
  spec/requests/canonical_url_redirection_spec.rb
  spec/support/fake_get_into_teaching_api_client.rb
Labels: ruby, Review, Test, Config, Documentation

#2521 Ensure truthy value is string in env vars
  .env.staging
Labels: Review

#2522 Update database plan to match production
  terraform/paas/production.env.tfvars
Labels: Review, DevOps

#2523 Clean up secrets in production
  .env.production
  .env.staging
Labels: Review

#2528 [529] Small fixes to env vars documentation
  docs/documents/env-vars.md
Labels: Review, Documentation

#2529 Various dependency updates
  .github/workflows/build.yml
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review, DevOps

#2543 Various dependency updates
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#2544 Periodically email list of onboarded, closed schools
  app/jobs/cron/identify_closed_schools_job.rb
  app/notify/notify_email/closed_onboarded_schools_summary.a9547f2d-adb2-4cff-b9df-f2afc1ccbc66.md
  app/notify/notify_email/closed_onboarded_schools_summary.rb
  spec/jobs/cron/identify_closed_schools_job_spec.rb
  spec/notify/notify_email/closed_onboarded_schools_summary_spec.rb
Labels: ruby, Review, Test

#2546 Medium Priority WCAG Level AA Accessibility Updates #2545
  app/views/candidates/registrations/application_previews/show.html.erb
  app/views/candidates/registrations/contact_informations/_form.html.erb
  features/candidates/registrations/contact_information.feature
Labels: ruby, Review

#2545 High Priority WCAG Level A Accessibility Updates
  app/helpers/candidates/school_helper.rb
  app/views/candidates/home/index.html.erb
  app/views/candidates/schools/index.html.erb
  app/views/kaminari/_page.html.erb
  app/views/schools/dashboards/_service_update_notice.html.erb
  app/views/schools/on_boarding/access_needs_details/_form.html.erb
  app/views/schools/on_boarding/candidate_requirements_selections/_form.html.erb
  app/views/service_updates/_service_update.html.erb
  app/views/shared/application/_cookie_banner.html.erb
  app/webpacker/controllers/search_controller.js
  config/locales/en.yml
  spec/helpers/candidates/school_helper_spec.rb
  spec/javascript/controllers/search_controller_spec.js
Labels: ruby, Review, Test, Config

#2558 Various dependency updates
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review
