Repository DFE-Digital/schools-experience, pull requests merged in 2022-09, with the labels that each got.

#2650 Enable dfe-analytics in production
  config/environments/production.rb
Labels: ruby, Review, Config

#2626 Disable role checking via rolecheck feature flag
  app/services/schools/dfe_sign_in_api/role_checked_organisations.rb
  app/views/pages/_request_organisation_access.html.erb
  spec/controllers/schools/change_schools_controller_spec.rb
  spec/services/schools/dfe_sign_in_api/role_checked_organisations_spec.rb
Labels: ruby, Review, Test

#2652 Various dependency updates
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#2651 Add a task progress on-boarding journey
  app/controllers/schools/on_boarding/administration_fees_controller.rb
  app/controllers/schools/on_boarding/dbs_fees_controller.rb
  app/controllers/schools/on_boarding/on_boardings_controller.rb
  app/controllers/schools/on_boarding/other_fees_controller.rb
  app/controllers/schools/on_boarding/progresses_controller.rb
  app/forms/schools/on_boarding/wizard.rb
  app/helpers/schools/on_boarding_helper.rb
  app/models/schools/school_profile.rb
  app/views/schools/dashboards/_update_your_school_profile.html.erb
  app/views/schools/on_boarding/progresses/show.html.erb
  app/webpacker/stylesheets/application.scss
  app/webpacker/stylesheets/on-boarding.scss
  config/application.rb
  config/initializers/date_format.rb
  config/locales/en.yml
  config/routes.rb
  feature-flags.json
  spec/controllers/schools/on_boarding/access_needs_details_controller_spec.rb
  spec/controllers/schools/on_boarding/access_needs_policies_controller_spec.rb
  spec/controllers/schools/on_boarding/access_needs_supports_controller_spec.rb
  spec/controllers/schools/on_boarding/admin_contacts_controller_spec.rb
  spec/controllers/schools/on_boarding/administration_fees_controller_spec.rb
  spec/controllers/schools/on_boarding/candidate_dress_codes_controller_spec.rb
  spec/controllers/schools/on_boarding/candidate_experience_schedules_controller_spec.rb
  spec/controllers/schools/on_boarding/candidate_parking_informations_controller_spec.rb
  spec/controllers/schools/on_boarding/candidate_requirements_selections_controller_spec.rb
  spec/controllers/schools/on_boarding/dbs_fees_controller_spec.rb
  spec/controllers/schools/on_boarding/dbs_requirements_controller_spec.rb
  spec/controllers/schools/on_boarding/descriptions_controller_spec.rb
  spec/controllers/schools/on_boarding/disability_confidents_controller_spec.rb
  spec/controllers/schools/on_boarding/experience_outlines_controller_spec.rb
  spec/controllers/schools/on_boarding/fees_controller_spec.rb
  spec/controllers/schools/on_boarding/key_stage_lists_controller_spec.rb
  spec/controllers/schools/on_boarding/other_fees_controller_spec.rb
  spec/controllers/schools/on_boarding/phases_lists_controller_spec.rb
  spec/controllers/schools/on_boarding/progresses_controller_spec.rb
  spec/controllers/schools/on_boarding/subjects_controller_spec.rb
  spec/controllers/schools/on_boarding/teacher_trainings_controller_spec.rb
  spec/forms/schools/on_boarding/wizard_spec.rb
  spec/helpers/schools/on_boarding_helper_spec.rb
  spec/models/schools/school_profile_spec.rb
Labels: ruby, Review, Test, Config, Style

#2661 Enable task progress on-boarding in production
  feature-flags.json
Labels: Review

#2642 Whitelist attributes for BigQuery
  config/analytics.yml
  config/analytics_blocklist.yml
  config/analytics_pii.yml
Labels: Review, Config

#2664 Show first required step when no previous step given
  app/forms/schools/on_boarding/wizard.rb
  spec/forms/schools/on_boarding/wizard_spec.rb
Labels: ruby, Review, Test

#2666 Enable Sidekiq job queue adapter in staging
  Gemfile
  Gemfile.lock
  config/environments/staging.rb
  config/initializers/sidekiq.rb
  config/routes.rb
  config/sidekiq.yml
  docker-compose-local.yml
  docker-compose-paas.yml
  docker-compose.yml
  docs/documents/DevOps/database-migrations.md
  script/docker-entrypoint.sh
  spec/requests/sidekiq_web_spec.rb
  terraform/paas/application.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/review.env.tfvars
  terraform/paas/route.tf
  terraform/paas/staging.env.tfvars
  terraform/paas/variables.tf
Labels: ruby, Review, Test, Config, DevOps, Documentation

#2667 Add network for Sidekiq monitoring
  terraform/paas/network.tf
Labels: Review, DevOps

#2669 Pin azurerm provider version
  terraform/paas/.terraform.lock.hcl
  terraform/paas/provider.tf
Labels: Review, DevOps

#2668 Run scheduled jobs with sidekiq-cron
  Gemfile
  Gemfile.lock
  config/initializers/sidekiq.rb
  config/routes.rb
  config/schedule.yml
Labels: ruby, Review, Config

#2673 Enable Sidekiq in production
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/jobs/cron/heart_beat_job.rb
  app/jobs/cron/identify_closed_schools_job.rb
  app/jobs/cron/reminders/add_availability_job.rb
  app/jobs/cron/reminders/next_week_job.rb
  app/jobs/cron/reminders/tomorrow_job.rb
  app/jobs/cron/sync_schools_job.rb
  app/jobs/cron_job.rb
  config/environments/production.rb
  config/initializers/yabeda.rb
  lib/tasks/cron_jobs.rake
  spec/jobs/cron/heart_beat_job_spec.rb
  spec/jobs/cron/identify_closed_schools_job_spec.rb
  spec/jobs/cron/reminders/add_availability_job_spec.rb
  spec/jobs/cron/reminders/next_week_job_spec.rb
  spec/jobs/cron/reminders/tomorrow_job_spec.rb
  spec/jobs/cron/sync_schools_job_spec.rb
  terraform/paas/production.env.tfvars
Labels: ruby, Review, Test, Config, DevOps

#2675 Remove delayed jobs
  Gemfile
  Gemfile.lock
  README.md
  app/jobs/cron/heart_beat_job.rb
  bin/delayed_job
  config/analytics_blocklist.yml
  config/initializers/delayed_job.rb
  config/initializers/delayed_job_web.rb
  config/initializers/yabeda.rb
  config/routes.rb
  docker-compose-local.yml
  docker-compose-paas.yml
  docker-compose.yml
  docs/documents/env-vars.md
  script/docker-entrypoint.sh
  spec/jobs/cron/heart_beat_job_spec.rb
  terraform/paas/application.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/network.tf
  terraform/paas/production.env.tfvars
  terraform/paas/review.env.tfvars
  terraform/paas/route.tf
  terraform/paas/staging.env.tfvars
  terraform/paas/variables.tf
Labels: ruby, Review, Test, Config, DevOps, Documentation
