Repository DFE-Digital/schools-experience, pull requests merged in 2022-04, with the labels that each got.

#2427 Bumped chromium to version 99.0.4844.84-r0
  Dockerfile
Labels: docker, Review

#2431 Various dependency updates
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#2418 Rails 7 upgrade
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/candidates/dashboards_controller.rb
  app/controllers/healthchecks_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/schools/confirm_attendance_controller.rb
  app/views/pages/robots.text.erb
  config/environments/test.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/password_protection.rb
  db/schema.rb
  lib/conversions.rb
  spec/controllers/candidates/dashboards_controller_spec.rb
  spec/controllers/schools/session_context.rb
  spec/controllers/schools/sessions_controller_spec.rb
  spec/fixtures/bookings_subjects.yml
  spec/requests/basic_auth_spec.rb
  spec/support/session_double.rb
  spec/views/candidates/home/index.html.erb_spec.rb
  spec/views/candidates/registrations/personal_informations/_form.html.erb_spec.rb
  spec/views/candidates/registrations/sign_ins/show.html.erb_spec.rb
  spec/views/candidates/registrations/sign_ins/update.html.erb_spec.rb
  spec/views/candidates/school_searches/new.html.erb_spec.rb
  spec/views/candidates/schools/index.html.erb_spec.rb
  spec/views/candidates/schools/show.html.erb_spec.rb
  spec/views/candidates/sessions/create.html.erb_spec.rb
  spec/views/candidates/sessions/new.html.erb_spec.rb
  spec/views/candidates/sessions/update.html.erb_spec.rb
  spec/views/schools/change_schools/show.html.erb_spec.rb
  spec/views/schools/dashboards/show.html.erb_spec.rb
  spec/views/schools/errors/insufficient_privileges/show.html.erb_spec.rb
  spec/views/schools/switch/show.html.erb_spec.rb
Labels: ruby, Review, Test, Config

#2434 Update school experience statuses
  app/controllers/candidates/placement_requests/cancellations_controller.rb
  app/controllers/schools/placement_requests/cancellations/notification_deliveries_controller.rb
  app/services/bookings/gitis/school_experience.rb
  spec/controllers/candidates/placement_requests/cancellations_controller_spec.rb
  spec/controllers/schools/placement_requests/cancellations/notification_deliveries_controller_spec.rb
Labels: ruby, Review, Test

#2436 Swap withdrawn for did not attend
  app/models/schools/attendance.rb
  spec/controllers/schools/confirm_attendance_controller_spec.rb
  spec/models/schools/attendance_spec.rb
Labels: ruby, Review, Test

#2435 Enable candidate dashboard
  app/controllers/candidates/sessions_controller.rb
  app/controllers/concerns/gitis_authentication.rb
  app/helpers/application_helper.rb
  app/notify/notify_email/candidate_signin_link.5b451894-3640-47df-a119-6461ecb890d9.md
  app/notify/notify_email/candidate_signin_link.rb
  app/views/candidates/booking_feedbacks/show.html.erb
  app/views/candidates/feedbacks/show.html.erb
  app/views/candidates/home/index.html.erb
  app/views/candidates/placement_requests/cancellations/_show_booking_cancelled_by_candidate.html.erb
  app/views/candidates/placement_requests/cancellations/_show_booking_cancelled_by_school.html.erb
  app/views/candidates/placement_requests/cancellations/_show_placement_request_cancelled_by_candidate.html.erb
  app/views/candidates/registrations/placement_requests/show.html.erb
  app/views/candidates/sessions/matchback_failed.html.erb
  app/views/candidates/sessions/new.html.erb
  app/views/shared/application/_phase_banner.html.erb
  config/routes.rb
  feature-flags.json
  spec/controllers/candidates/sessions_controller_spec.rb
  spec/features/candidates/api_registrations_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/notify/notify_email/candidate_signin_link_spec.rb
  spec/views/candidates/home/index.html.erb_spec.rb
Labels: ruby, Review, Test, Config

#2438 Fix typo on school teacher_training_website attribute
  app/views/candidates/schools/_profile_compact.erb
Labels: ruby, Review

#2402 Simplify the initial fees question
  app/controllers/schools/on_boarding/fees_controller.rb
  app/forms/schools/on_boarding/current_step.rb
  app/forms/schools/on_boarding/fees.rb
  app/models/schools/school_profile.rb
  app/presenters/schools/on_boarding/school_profile_presenter.rb
  app/views/schools/on_boarding/fees/_form.html.erb
  config/locales/en.yml
  features/schools/onboarding/dbs_required_toggling_fees.feature
  features/schools/onboarding/fees.feature
  features/schools/onboarding/school_profile.feature
  features/step_definitions/form_steps.rb
  features/step_definitions/schools/onboarding_steps.rb
  spec/controllers/schools/on_boarding/fees_controller_spec.rb
  spec/factories/schools/on_boarding/fees_factory.rb
  spec/factories/schools/school_profile_factory.rb
  spec/forms/schools/on_boarding/current_step_spec.rb
  spec/forms/schools/on_boarding/fees_spec.rb
  spec/models/schools/school_profile_spec.rb
Labels: ruby, Review, Test, Config

#2450 Bump busybox to latest version in Dockerfile
  Dockerfile
Labels: docker, Review

#2451 Add permissions to build and deploy workflow
  .github/workflows/build.yml
Labels: Review, DevOps

#2457 Add issues write permission to build workflows
  .github/workflows/build.yml
Labels: Review, DevOps

#2460 Workflow to rebuild master docker image
  .github/workflows/build-no-cache.yml
Labels: Review, DevOps

#2461 Remove references to ACTIONS-API-ACCESS-TOKEN
  .github/workflows/build.yml
  .github/workflows/manual.yml
Labels: Review, DevOps
