Repository DFE-Digital/schools-experience, pull requests merged in 2022-08, with the labels that each got.

#2593 Add a heart beat scheduled job
  Dockerfile
  app/jobs/cron/heart_beat_job.rb
  config/initializers/yabeda.rb
  spec/jobs/cron/heart_beat_job_spec.rb
  spec/rails_helper.rb
Labels: ruby, docker, Review, Test, Config

#2594 Various dependency updates
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review, DevOps

#2603 [648] Run terraform locally
  .tool-versions
  Makefile
  terraform/paas/dev.bk.vars
  terraform/paas/production.bk.vars
  terraform/paas/review.bk.vars
  terraform/paas/staging.bk.vars
Labels: Review, DevOps

#2604 [602] Update Readme with Trello instructions
  docs/documents/DevOps/tools/trello.md
Labels: Review, DevOps, Documentation

#2605 Fix default docker image
  Makefile
Labels: Review

#2612 Update copy on the DBS requirements step
  app/presenters/candidates/school_presenter.rb
  app/presenters/schools/on_boarding/school_profile_presenter.rb
  config/locales/en.yml
  features/schools/onboarding/dbs_required_toggling_fees.feature
  features/schools/onboarding/dbs_requirements.feature
  features/step_definitions/schools/onboarding_steps.rb
  spec/presenters/candidates/school_presenter_spec.rb
  spec/presenters/schools/on_boarding/school_profile_presenter_spec.rb
Labels: ruby, Review, Test, Config

#2613 Upgrade to Rails 7.0.3.1
  Gemfile
  Gemfile.lock
Labels: Review

#2608 Various dependency updates
  Gemfile.lock
  app/webpacker/controllers/autocomplete_controller.js
  app/webpacker/controllers/back_link_controller.js
  app/webpacker/controllers/collapsible_controller.js
  app/webpacker/controllers/education_form_controller.js
  app/webpacker/controllers/map_controller.js
  app/webpacker/controllers/prevent_double_click_controller.js
  app/webpacker/controllers/search_controller.js
  app/webpacker/packs/application.js
  package.json
  spec/javascript/controllers/autocomplete_controller_spec.js
  spec/javascript/controllers/search_controller_spec.js
  yarn.lock
Labels: Review, Test

#2610 Default school availability and backfill existing data
  app/helpers/candidates/school_helper.rb
  app/helpers/schools/dashboards_helper.rb
  app/models/bookings/school.rb
  app/views/schools/dashboards/_profile_status.html.erb
  app/views/schools/dashboards/_status.html.erb
  config/locales/en.yml
  db/migrate/20220810101108_add_default_to_bookings_school_availability.rb
  db/migrate/20220810142124_make_availability_info_and_experience_type_not_nullable.rb
  db/schema.rb
  features/candidates/registrations/availability_preference.feature
  features/candidates/schools/show/full_school_details.feature
  features/schools/dashboard.feature
  features/step_definitions/candidates/registrations/request_school_experience_placement_steps.rb
  features/step_definitions/candidates/schools/show_steps.rb
  spec/factories/bookings/school_factory.rb
  spec/helpers/schools/dashboards_helper_spec.rb
  spec/models/bookings/school_spec.rb
Labels: ruby, Review, Test, Config

#2617 [660] Remove extra delayed_jobs route
  terraform/paas/application.tf
  terraform/paas/route.tf
Labels: Review, DevOps

#2609 Remove privacy policy acceptance from placement request
  app/controllers/candidates/registrations/application_previews_controller.rb
  app/controllers/candidates/registrations/confirmation_emails_controller.rb
  app/services/candidates/registrations/privacy_policy.rb
  app/views/candidates/registrations/application_previews/show.html.erb
  spec/controllers/candidates/registrations/confirmation_emails_controller_spec.rb
  spec/features/candidates/api_registrations_spec.rb
  spec/requests/rate_limiting_spec.rb
  spec/services/candidates/registrations/privacy_policy_spec.rb
Labels: ruby, Review, Test

#2627 Rework checkboxes to improve spacing
  app/views/schools/on_boarding/key_stage_lists/_form.html.erb
  app/views/schools/on_boarding/phases_lists/_form.html.erb
  app/webpacker/stylesheets/school-profile.scss
Labels: ruby, Review, Style

#2625 Remove existing StatusCake alerts
  terraform/paas/production.env.tfvars
  terraform/paas/staging.env.tfvars
Labels: Review, DevOps

#2616 Update StatusCake provider
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/staging.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/variables.tf
Labels: ruby, Review, DevOps

#2615 Update workflow for check service principal action
  .github/workflows/check_sp.yml
Labels: Review, DevOps

#2628 Add dfe-analytics gem
  .env
  .env.production
  .env.staging
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/schools/insecure_sessions_controller.rb
  app/controllers/schools/sessions_controller.rb
  app/decorators/user_info_decorator.rb
  app/helpers/application_helper.rb
  app/models/application_record.rb
  config/analytics.yml
  config/analytics_blocklist.yml
  config/analytics_pii.yml
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/dfe_analytics.rb
  lib/servertest/sessions_controller.rb
  spec/controllers/schools/sessions_controller_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/rails_helper.rb
  spec/requests/big_query_analytics_spec.rb
  spec/spec_helper.rb
Labels: ruby, Review, Test, Config

#2629 Enable dfe-analytics in production
  config/environments/production.rb
Labels: ruby, Review, Config

#2631 Revert "Enable dfe-analytics in production"
  config/environments/production.rb
Labels: ruby, Review, Config

#2630 Various dependency updates
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#2632 Update job workers to handle analytics event load
  config/initializers/delayed_job.rb
  config/initializers/dfe_analytics.rb
  terraform/paas/production.env.tfvars
Labels: ruby, Review, Config, DevOps

#2640 Revert "Update job workers to handle analytics event load"
  config/initializers/delayed_job.rb
  config/initializers/dfe_analytics.rb
  terraform/paas/production.env.tfvars
Labels: ruby, Review, Config, DevOps

#2641 Update job workers to handle analytics event load (take #2)
  Makefile
  config/initializers/delayed_job.rb
  config/initializers/dfe_analytics.rb
  terraform/paas/production.env.tfvars
  terraform/paas/route.tf
Labels: ruby, Review, Config, DevOps

#2647 Remove delayed_jobs variable
  terraform/paas/application.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/network.tf
  terraform/paas/production.env.tfvars
  terraform/paas/review.env.tfvars
  terraform/paas/route.tf
  terraform/paas/staging.env.tfvars
  terraform/paas/variables.tf
Labels: Review, DevOps

#2646 Add documentation regarding PowerBI job
  docs/documents/DevOps/tools/powerbi.md
Labels: Review, Documentation

#2649 Update Terraform version to 1.2.8
  .github/workflows/actions/deploy/action.yml
  .github/workflows/destroy.yml
  .tool-versions
  docs/index.md
  terraform/paas/.gitignore
  terraform/paas/.terraform.lock.hcl
  terraform/paas/provider.tf
Labels: Review, DevOps, Documentation
