Repository DFE-Digital/schools-experience, pull requests merged in 2022-02, with the labels that each got.

#2255 Fix the feature tests with undefined steps
  features/candidates/registrations/experience_preference.feature
  features/schools/dashboard.feature
Labels: Review

#2257 Remove redundant cookie
  app/views/pages/cookies_policy.html.erb
Labels: ruby, Review

#2258 Create confirmation email and preview page for virtual placements
  app/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller.rb
  app/notify/notify_email/candidate_virtual_experience_booking_confirmation.rb
  app/notify/notify_email/candidatebookingconfirmation_virtualexperience_updated_jan22.1e6d2dff-be25-44f4-ac97-6fe67f131528.md
  app/views/schools/placement_requests/acceptance/email_preview_sections/_date_details.html.erb
  app/views/schools/placement_requests/acceptance/email_preview_sections/_instructions.html.erb
  app/views/schools/placement_requests/acceptance/email_preview_sections/virtual/_contact_details.html.erb
  app/views/schools/placement_requests/acceptance/email_preview_sections/virtual/_location.html.erb
  app/views/schools/placement_requests/acceptance/email_preview_sections/virtual/_subject.html.erb
  app/views/schools/placement_requests/acceptance/preview_confirmation_email/_in_school_sections.html.erb
  app/views/schools/placement_requests/acceptance/preview_confirmation_email/_virtual_sections.html.erb
  app/views/schools/placement_requests/acceptance/preview_confirmation_email/edit.html.erb
  features/schools/placement_requests/acceptance/sending_details_to_candidate.feature
  features/step_definitions/schools/placement_requests/accept_steps.rb
  features/step_definitions/schools/placement_requests/preview_confirmation_email_steps.rb
  spec/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller_spec.rb
  spec/notify/notify_email/candidate_virtual_experience_booking_confirmation_spec.rb
Labels: ruby, Review, Test

#2259 Set the is_virtual_experince correctly
  app/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller.rb
Labels: ruby, Review

#2241 Correct Name of Service Principle
  .github/workflows/check_sp.yml
Labels: DevOps

#2262 Add delayed Jobs to Development
  terraform/paas/dev.env.tfvars
Labels: DevOps

#2263 Change Review Migration Strategy
  doc/database-migrations.md
  terraform/paas/review.env.tfvars
Labels: Review, DevOps

#2261 Candidate booking feedback
  app/controllers/candidates/booking_feedbacks_controller.rb
  app/controllers/schools/confirm_attendance_controller.rb
  app/models/bookings/booking.rb
  app/models/candidates/booking_feedback.rb
  app/models/schools/attendance.rb
  app/notify/notify_email/candidate_booking_feedback.189569bd-3115-43e0-8396-be14480a5f2d.md
  app/notify/notify_email/candidate_booking_feedback_request.rb
  app/views/candidates/booking_feedbacks/_form.html.erb
  app/views/candidates/booking_feedbacks/booking_not_attended.html.erb
  app/views/candidates/booking_feedbacks/feedback_already_provided.html.erb
  app/views/candidates/booking_feedbacks/new.html.erb
  app/views/candidates/booking_feedbacks/show.html.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20220202103752_create_candidates_booking_feedbacks.rb
  db/schema.rb
  features/candidates/booking_feedback.feature
  features/schools/confirm_attendance.feature
  features/step_definitions/candidates/bookings/feedback_steps.rb
  features/step_definitions/schools/confirm_attendance_steps.rb
  features/support/database_cleaner.rb
  spec/controllers/candidates/booking_feedbacks_controller_spec.rb
  spec/controllers/schools/confirm_attendance_controller_spec.rb
  spec/factories/candidates/booking_feedbacks.rb
  spec/models/bookings/booking_spec.rb
  spec/models/candidates/booking_feedback_spec.rb
  spec/models/schools/attendance_spec.rb
  spec/notify/notify_email/candidate_booking_feedback_spec.rb
Labels: ruby, Review, Test, Config

#2269 Running Terraform Manually
  doc/manual-terraform.md
  terraform/paas/provider.tf
  terraform/paas/variables.tf
Labels: DevOps

#2268 Add CTA when school is part of a group/trust
  app/helpers/schools/dashboards_helper.rb
  app/views/schools/dashboards/show.html.erb
  app/webpacker/stylesheets/school-dashboard.scss
  features/schools/dashboard.feature
  features/step_definitions/schools/dashboard_steps.rb
  lib/school_group.rb
  spec/helpers/schools/dashboards_helper_spec.rb
  spec/lib/school_group_spec.rb
Labels: ruby, Review, Test, Style

#2270 Workflow Improvements
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/check_sp.yml
  .github/workflows/clean_reviews.yml
  .github/workflows/manual.yml
  .github/workflows/trello.yml
  docker-compose-paas.yml
Labels: Review, DevOps

#2273 Initial
  .github/labeler.yml
  docs/_config.yml
  docs/_includes/note.html
  docs/_layouts/page.html
  docs/documents/DevOps/database-migrations.md
  docs/documents/DevOps/index.md
  docs/documents/DevOps/logging.md
  docs/documents/DevOps/manual-terraform.md
  docs/documents/DevOps/metrics.md
  docs/documents/DevOps/secrets.md
  docs/documents/DevOps/tools/index.md
  docs/documents/DevOps/tools/trello.md
  docs/documents/DevOps/workflows.md
  docs/documents/candidate-notifications.md
  docs/documents/dfe-signin.md
  docs/documents/disaster-recovery.md
  docs/documents/env-vars.md
  docs/documents/release-process.md
  docs/index.md
Labels: Review, DevOps

#2275 Fix education phase seed data
  db/seeds.rb
Labels: ruby, Review

#2256 Add Feature class that reads from a JSON config
  Gemfile
  Gemfile.lock
  README.md
  app/controllers/feature_flags_controller.rb
  app/controllers/schools/placement_dates_controller.rb
  app/forms/schools/placement_dates/configuration_form.rb
  app/jobs/cron/reminders/next_week_job.rb
  app/jobs/cron/reminders/tomorrow_job.rb
  app/models/feature.rb
  app/notify/notify_despatchers/sms.rb
  app/services/schools/dfe_sign_in_api/client.rb
  app/views/candidates/booking_feedbacks/show.html.erb
  app/views/candidates/feedbacks/show.html.erb
  app/views/candidates/home/index.html.erb
  app/views/candidates/placement_requests/cancellations/_show_booking_cancelled_by_candidate.html.erb
  app/views/candidates/placement_requests/cancellations/_show_booking_cancelled_by_school.html.erb
  app/views/candidates/placement_requests/cancellations/_show_placement_request_cancelled_by_candidate.html.erb
  app/views/feature_flags/index.html.erb
  app/views/schools/placement_dates/configurations/new.html.erb
  app/views/schools/placement_dates/edit.html.erb
  app/views/schools/placement_dates/new.html.erb
  app/webpacker/stylesheets/application.scss
  app/webpacker/stylesheets/feature-flags.scss
  config/environments/development.rb
  config/environments/production.rb
  config/environments/servertest.rb
  config/environments/test.rb
  config/initializers/flipper.rb
  config/routes.rb
  docs/documents/env-vars.md
  feature-flags.json
  spec/controllers/features_controller_spec.rb
  spec/fixtures/files/feature-flags.json
  spec/models/feature_spec.rb
  spec/notify/notify_despatchers/notify_spec.rb
  spec/rails_helper.rb
  spec/requests/flipper_ui_spec.rb
  spec/services/bookings/reminder_spec.rb
  spec/services/schools/dfe_sign_in_api/client_spec.rb
  spec/support/notify_email_shared_examples.rb
  spec/views/candidates/home/index.html.erb_spec.rb
Labels: ruby, Review, Test, Config, Style, Documentation

#2276 Update disaster-recovery.md
  docs/documents/disaster-recovery.md
Labels: Review, Documentation

#2281 How long will it last?
  app/views/schools/placement_dates/edit.html.erb
  app/views/schools/placement_dates/new.html.erb
  config/locales/en.yml
Labels: ruby, Review, Config

#2289 Experience type for flex dates
  app/controllers/schools/placement_requests/acceptance/make_changes_controller.rb
  app/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller.rb
  app/models/bookings/booking.rb
  app/models/bookings/placement_date.rb
  app/models/bookings/placement_request.rb
  app/views/schools/placement_requests/acceptance/make_changes/new.html.erb
  app/views/schools/placement_requests/acceptance/preview_confirmation_email/edit.html.erb
  config/locales/en.yml
  db/migrate/20220203124105_add_experience_type_to_requests_and_bookings_tables.rb
  db/schema.rb
  features/schools/placement_requests/acceptance/confirming_a_request_with_a_future_date.feature
  features/schools/placement_requests/acceptance/confirming_flex_requests_with_unclear_experience_type.feature
  features/schools/placement_requests/acceptance/sending_details_to_candidate.feature
  features/step_definitions/schools/placement_requests/accept_steps.rb
  features/step_definitions/schools/placement_requests/preview_confirmation_email_steps.rb
  spec/controllers/schools/placement_requests/acceptance/make_changes_controller_spec.rb
  spec/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller_spec.rb
  spec/factories/bookings/bookings_factory.rb
  spec/factories/bookings/placement_request_factory.rb
  spec/factories/bookings/placement_requests_factory.rb
  spec/factories/bookings/school_factory.rb
  spec/models/bookings/booking_spec.rb
  spec/models/bookings/placement_date_spec.rb
  spec/models/bookings/placement_request_spec.rb
Labels: ruby, Review, Test, Config

#2292 Store the experience type for flex dates
  app/controllers/schools/placement_requests/acceptance/make_changes_controller.rb
  app/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller.rb
  app/models/bookings/booking.rb
  app/models/bookings/placement_date.rb
  app/models/bookings/placement_request.rb
  app/views/schools/placement_requests/acceptance/make_changes/new.html.erb
  app/views/schools/placement_requests/acceptance/preview_confirmation_email/edit.html.erb
  config/locales/en.yml
  db/migrate/20220203124105_add_experience_type_to_requests_and_bookings_tables.rb
  db/migrate/20220216101402_update_experience_type_for_current_records.rb
  db/schema.rb
  features/schools/placement_requests/acceptance/confirming_a_request_with_a_future_date.feature
  features/schools/placement_requests/acceptance/confirming_flex_requests_with_unclear_experience_type.feature
  features/schools/placement_requests/acceptance/sending_details_to_candidate.feature
  features/step_definitions/schools/placement_requests/accept_steps.rb
  features/step_definitions/schools/placement_requests/preview_confirmation_email_steps.rb
  spec/controllers/schools/placement_requests/acceptance/make_changes_controller_spec.rb
  spec/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller_spec.rb
  spec/factories/bookings/bookings_factory.rb
  spec/factories/bookings/placement_request_factory.rb
  spec/factories/bookings/placement_requests_factory.rb
  spec/factories/bookings/school_factory.rb
  spec/models/bookings/booking_spec.rb
  spec/models/bookings/placement_date_spec.rb
  spec/models/bookings/placement_request_spec.rb
Labels: ruby, Review, Test, Config

#2294 Increase Production memory allocation
  terraform/paas/production.env.tfvars
Labels: Review, DevOps

#2293 Replace deprecated AfterConfiguration hook
  features/support/assets.rb
  features/support/cache.rb
Labels: Review

#2290 Error messages search
  app/controllers/candidates/schools_controller.rb
  app/models/bookings/school_search.rb
  app/views/candidates/school_searches/new.html.erb
  app/views/candidates/schools/index.html.erb
  app/webpacker/controllers/autocomplete_controller.js
  app/webpacker/stylesheets/school-search.scss
  config/locales/en.yml
  spec/controllers/candidates/schools_controller_spec.rb
  spec/javascript/controllers/autocomplete_controller_spec.js
  spec/models/candidates/school_search_spec.rb
Labels: ruby, Review, Test, Config, Style

#2295 Add option to run Capybara tests in headed mode
  README.md
  features/support/env.rb
Labels: Review

#2301 Various title/heading updates
  app/views/candidates/placement_requests/cancellations/_new_placement_request.html.erb
  app/views/candidates/placement_requests/cancellations/_show_placement_request_cancelled_by_school.html.erb
  app/views/candidates/registrations/subject_and_date_informations/_form.html.erb
  app/views/candidates/registrations/teaching_preferences/_form.html.erb
  app/views/pages/schools_privacy_policy.html.erb
  app/views/schools/archived_placement_requests/index.html.erb
  app/views/schools/availability_info/edit.html.erb
  app/views/schools/availability_preferences/edit.html.erb
  app/views/schools/dashboards/show.html.erb
  app/views/schools/errors/auth_failed/show.html.erb
  app/views/schools/errors/inaccessible_school/show.html.erb
  app/views/schools/errors/insufficient_privileges/show.html.erb
  app/views/schools/on_boarding/access_needs_details/_form.html.erb
  app/views/schools/on_boarding/key_stage_lists/_form.html.erb
  app/views/schools/on_boarding/previews/show.html.erb
  app/views/schools/placement_requests/index.html.erb
  features/schools/availability_information/edit.feature
  features/schools/placement_requests/index.feature
Labels: ruby, Review

#2277 Change how onboarded schools update their profile
  app/controllers/schools/on_boarding/access_needs_details_controller.rb
  app/controllers/schools/on_boarding/access_needs_policies_controller.rb
  app/controllers/schools/on_boarding/access_needs_supports_controller.rb
  app/controllers/schools/on_boarding/admin_contacts_controller.rb
  app/controllers/schools/on_boarding/administration_fees_controller.rb
  app/controllers/schools/on_boarding/candidate_experience_details_controller.rb
  app/controllers/schools/on_boarding/candidate_requirements_selections_controller.rb
  app/controllers/schools/on_boarding/dbs_fees_controller.rb
  app/controllers/schools/on_boarding/dbs_requirements_controller.rb
  app/controllers/schools/on_boarding/descriptions_controller.rb
  app/controllers/schools/on_boarding/disability_confidents_controller.rb
  app/controllers/schools/on_boarding/experience_outlines_controller.rb
  app/controllers/schools/on_boarding/fees_controller.rb
  app/controllers/schools/on_boarding/key_stage_lists_controller.rb
  app/controllers/schools/on_boarding/on_boardings_controller.rb
  app/controllers/schools/on_boarding/other_fees_controller.rb
  app/controllers/schools/on_boarding/phases_lists_controller.rb
  app/controllers/schools/on_boarding/previews_controller.rb
  app/controllers/schools/on_boarding/profiles_controller.rb
  app/controllers/schools/on_boarding/subjects_controller.rb
  app/controllers/schools/on_boarding/teacher_trainings_controller.rb
  app/presenters/schools/on_boarding/preview_presenter.rb
  app/presenters/schools/on_boarding/school_profile_presenter.rb
  app/views/schools/on_boarding/previews/show.html.erb
  app/views/schools/on_boarding/profiles/publish_confirmation.html.erb
  app/views/schools/on_boarding/profiles/show.html.erb
  config/routes.rb
  features/schools/onboarding/school_profile.feature
  features/step_definitions/schools/onboarding_steps.rb
  spec/controllers/schools/on_boarding/profiles_controller_spec.rb
  spec/presenters/schools/on_boarding/preview_presenter_spec.rb
  spec/presenters/schools/on_boarding/school_profile_presenter_spec.rb
Labels: ruby, Review, Test, Config

#2303 Expose various metrics to Prometheus
  Gemfile
  Gemfile.lock
  bin/delayed_job
  config/initializers/yabeda.rb
  config/puma.rb
  config/routes.rb
Labels: ruby, Review, Config

#2272 Updated school profile with new design
  app/helpers/candidates/school_helper.rb
  app/helpers/schools/placement_dates_helper.rb
  app/helpers/text_formatting_helper.rb
  app/models/bookings/profile.rb
  app/models/candidates/placement_date_option.rb
  app/presenters/candidates/school_presenter.rb
  app/services/candidates/registrations/subject_and_date_information.rb
  app/views/candidates/registrations/subject_and_date_informations/_form.html.erb
  app/views/candidates/schools/_phase2.html.erb
  app/views/candidates/schools/_placement_dates.html.erb
  app/views/candidates/schools/profile/_about_our_school_experience.html.erb
  app/views/candidates/schools/profile/_contents_list.html.erb
  app/views/candidates/schools/profile/_entry_requirements.html.erb
  app/views/candidates/schools/profile/_fees.html.erb
  app/views/candidates/schools/profile/_location.html.erb
  app/views/candidates/schools/profile/_placement_dates.html.erb
  app/views/candidates/schools/profile/_placement_dates_availability.html.erb
  app/views/candidates/schools/profile/_sidebar.html.erb
  app/views/candidates/schools/profile/_start_request.html.erb
  app/views/candidates/schools/show.html.erb
  app/webpacker/stylesheets/application.scss
  app/webpacker/stylesheets/contents-list.scss
  app/webpacker/stylesheets/school-profile.scss
  config/initializers/date_format.rb
  features/candidates/schools/show/full_school_details.feature
  features/candidates/schools/show/upcoming_placement_dates.feature
  features/schools/onboarding/preview.feature
  features/schools/onboarding/school_profile.feature
  features/step_definitions/candidates/registrations/subject_and_date_information_steps.rb
  features/step_definitions/candidates/schools/show_steps.rb
  features/step_definitions/schools/onboarding_steps.rb
  spec/factories/bookings/profile_factory.rb
  spec/helpers/candidates/registrations/subject_and_date_information_helper_spec.rb
  spec/helpers/candidates/school_helper_spec.rb
  spec/helpers/schools/placement_dates_helper_spec.rb
  spec/helpers/text_formatting_helper_spec.rb
  spec/models/bookings/profile_spec.rb
  spec/presenters/candidates/school_presenter_spec.rb
  spec/views/candidates/schools/show.html.erb_spec.rb
Labels: ruby, do not merge, Review, Test, Config, Style

#2311 Add booking date change email for virtual experiences
  app/controllers/schools/confirmed_bookings/date_controller.rb
  app/notify/notify_email/candidate_virtual_experience_booking_date_changed.rb
  app/notify/notify_email/datechange_virtualexperience_updated_jan22.50a32920-fa3a-4294-b013-a6472e230cf8.md
  spec/controllers/schools/confirmed_bookings/date_controller_spec.rb
  spec/notify/notify_email/candidate_virtual_experience_booking_date_changed_spec.rb
Labels: ruby, Review, Test

#2302 Add booking reminder email for virtual experiences
  app/notify/notify_email/candidate_booking_reminder_virtual_experience_updated_jan22.be4eb8b2-3abd-4882-8719-e6812975110a.md
  app/notify/notify_email/candidate_virtual_experience_booking_reminder.rb
  app/services/bookings/reminder.rb
  spec/notify/notify_email/candidate_virtual_experience_booking_reminder_spec.rb
  spec/services/bookings/reminder_spec.rb
Labels: ruby, Review, Test

#2310 Add network policies to allow monitoring
  terraform/paas/application.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/network.tf
  terraform/paas/production.env.tfvars
  terraform/paas/review.env.tfvars
  terraform/paas/route.tf
  terraform/paas/space.tf
  terraform/paas/staging.env.tfvars
  terraform/paas/variables.tf
Labels: Review, DevOps

#2313 Rename private_beta? to onboarded?
  app/controllers/candidates/schools_controller.rb
  app/controllers/schools/base_controller.rb
  app/controllers/schools/on_boarding/on_boardings_controller.rb
  app/models/bookings/school.rb
  app/presenters/schools/on_boarding/preview_presenter.rb
  app/presenters/schools/on_boarding/school_profile_presenter.rb
  app/views/candidates/schools/_phase1.html.erb
  app/views/candidates/schools/show.html.erb
  app/views/schools/dashboards/_help_and_support.html.erb
  app/views/schools/dashboards/show.html.erb
  app/views/schools/on_boarding/previews/show.html.erb
  app/views/schools/on_boarding/profiles/show.html.erb
  spec/models/bookings/school_spec.rb
Labels: ruby, Review, Test

#2314 Fix the placement details placeholder for the date change email
  app/notify/notify_email/candidate_booking_date_changed.rb
  spec/notify/notify_email/candidate_booking_date_changed_spec.rb
Labels: ruby, Review, Test

#2316 Allow http connections to /metrics endpoint
  Gemfile
  config/environments/production.rb
Labels: ruby, Review, Config

#2317 Use ./bin/delayed_jobs instead of rake task
  script/docker-entrypoint.sh
Labels: Review

#2298 Remove SubjectSync and gitis_uuid
  app/models/bookings/registration_contact_mapper.rb
  app/models/bookings/subject.rb
  app/models/bookings/subject_sync.rb
  spec/fixtures/bookings_subjects.yml
  spec/models/bookings/registration_contact_mapper_spec.rb
  spec/models/bookings/subject_sync_spec.rb
Labels: ruby, Review, Test

#2319 Change delayed job metrics port
  terraform/paas/application.tf
  tests/confidence/healthcheck.sh
Labels: docker, Review, Test, DevOps

#2322 Search results
  app/models/bookings/school.rb
  app/models/bookings/school_search.rb
  features/step_definitions/candidates/schools/pagination_steps.rb
  features/step_definitions/candidates/schools/results_steps.rb
  features/step_definitions/candidates/schools/sorting_steps.rb
  features/support/feature_helper.rb
  spec/helpers/candidates/results_helper_spec.rb
  spec/models/bookings/school_search_spec.rb
  spec/models/bookings/school_spec.rb
Labels: ruby, Review, Test

#2323 Update docker-entrypoint.sh
  script/docker-entrypoint.sh
Labels: Review

#2325 Run via Bundle
  Gemfile
  Gemfile.lock
  script/docker-entrypoint.sh
  terraform/paas/review.env.tfvars
Labels: Review, DevOps

#2326 Fix background jobs
  script/docker-entrypoint.sh
  terraform/paas/review.env.tfvars
Labels: Review, DevOps

#2324 Update school profile when not yet onboarded
  app/views/candidates/schools/_phase1.html.erb
  app/views/candidates/schools/_profile_compact.erb
  app/views/candidates/schools/_profile_full.html.erb
  app/views/candidates/schools/show.html.erb
  app/views/schools/on_boarding/previews/show.html.erb
  features/candidates/schools/show/start_request_button_presence.feature
  features/step_definitions/candidates/schools/show_steps.rb
  spec/views/candidates/schools/show.html.erb_spec.rb
Labels: ruby, Review, Test

#2328 Temporarily disable Yabeda
  config/routes.rb
Labels: ruby, Config

#2333 Order change schools by outsanding tasks, then alphabetically
  app/models/schools/change_school.rb
  spec/models/schools/change_school_spec.rb
Labels: ruby, Review, Test

#2329 Strip PII from delayed job metric labels
  Gemfile
  Gemfile.lock
  config/routes.rb
Labels: ruby, Review, Config

#2343 Move next step into wizard concern
  app/controllers/concerns/schools/placement_dates/wizard.rb
  app/controllers/schools/placement_dates/configurations_controller.rb
  app/controllers/schools/placement_dates/subject_selections_controller.rb
  app/controllers/schools/placement_dates_controller.rb
  spec/controllers/schools/placement_dates_controller_spec.rb
Labels: ruby, Review, Test

#2342 Run yabeda metrics server in delayed job process
  bin/delayed_job
  bin/metrics
  script/docker-entrypoint.sh
Labels: Review
