Repository DFE-Digital/schools-experience, pull requests merged in 2022-12, with the labels that each got.

#2744 Get KeyVault name for sp_check from matrix data instead of a GitHub secret
  .github/workflows/check_sp.yml
Labels: Review, DevOps

#2743 Add 'Get help' section to candidate footer
  app/views/layouts/application.html.erb
  features/candidates/landing_page.feature
  features/schools/landing_page.feature
  features/schools/service_updates.feature
  features/step_definitions/common_steps.rb
Labels: ruby, Review

#2745 Improve structure of closed/on-boarded schools email
  app/jobs/cron/identify_closed_schools_job.rb
  spec/jobs/cron/identify_closed_schools_job_spec.rb
Labels: ruby, Review, Test

#2759 Compare placement request experience type
  lib/placement_request_transfer.rb
  spec/lib/placement_request_transfer_spec.rb
Labels: ruby, Review, Test

#2757 Various dependency updates
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#2763 Update API client gem
  Gemfile.lock
Labels: Review

#2742 Update on-boarding heading structure
  app/views/schools/on_boarding/_school_fees_shared_form.html.erb
  app/views/schools/on_boarding/access_needs_details/_form.html.erb
  app/views/schools/on_boarding/access_needs_policies/_form.html.erb
  app/views/schools/on_boarding/access_needs_supports/_form.html.erb
  app/views/schools/on_boarding/admin_contacts/_form.html.erb
  app/views/schools/on_boarding/candidate_dress_codes/_form.html.erb
  app/views/schools/on_boarding/candidate_experience_schedules/_form.html.erb
  app/views/schools/on_boarding/candidate_parking_informations/_form.html.erb
  app/views/schools/on_boarding/candidate_requirements_selections/_form.html.erb
  app/views/schools/on_boarding/dbs_requirements/_form.html.erb
  app/views/schools/on_boarding/descriptions/_form.html.erb
  app/views/schools/on_boarding/disability_confidents/_form.html.erb
  app/views/schools/on_boarding/experience_outlines/_form.html.erb
  app/views/schools/on_boarding/fees/_form.html.erb
  app/views/schools/on_boarding/key_stage_lists/_form.html.erb
  app/views/schools/on_boarding/phases_lists/_form.html.erb
  app/views/schools/on_boarding/subjects/_form.html.erb
  app/views/schools/on_boarding/teacher_trainings/_form.html.erb
Labels: ruby, Review

#2765 Fix dfe-analytics deprecation warning
  app/models/application_record.rb
  spec/requests/big_query_analytics_spec.rb
Labels: ruby, Review, Test
