Repository DFE-Digital/schools-experience, pull requests merged in 2022-01, with the labels that each got.

#2168 Remove the profile confirmation container for onboarded schools
  app/controllers/schools/on_boarding/profiles_controller.rb
  app/views/schools/on_boarding/profiles/show.html.erb
  config/routes.rb
  features/schools/onboarding/school_profile.feature
  features/step_definitions/common_steps.rb
  features/step_definitions/schools/profile_steps.rb
  spec/controllers/schools/on_boarding/profiles_controller_spec.rb
  spec/factories/bookings/school_factory.rb
Labels: ruby, Review, Test, Config

#2167 Update the reasons list in the rejection form
  app/models/bookings/placement_request/cancellation.rb
  config/locales/en.yml
  features/schools/placement_requests/cancelling.feature
  features/schools/rejected_requests/index.feature
  features/schools/rejected_requests/show.feature
  features/step_definitions/schools/placement_requests/cancelling_steps.rb
  features/step_definitions/schools/rejected_requests_steps.rb
Labels: ruby, Review, Config

#2166 Auto-enable school when adds availability
  app/controllers/schools/availability_info_controller.rb
  app/controllers/schools/base_controller.rb
  app/controllers/schools/placement_dates/configurations_controller.rb
  app/controllers/schools/placement_dates/subject_selections_controller.rb
  app/controllers/schools/placement_dates_controller.rb
  features/schools/availability_information/edit.feature
  features/schools/placement_dates/new.feature
Labels: ruby, Review

#2175 Remove non-primary phone numbers and email address
  app/helpers/gitis_contact_helper.rb
  app/models/bookings/registration_contact_mapper.rb
  app/views/schools/confirmed_bookings/date/edit.html.erb
  app/views/schools/placement_requests/_personal_details.html.erb
  app/views/schools/placement_requests/show.html.erb
  spec/controllers/candidates/registrations/contact_informations_controller_spec.rb
  spec/factories/api_factory.rb
  spec/helpers/gitis_contact_helper_spec.rb
  spec/models/bookings/registration_contact_mapper_spec.rb
  spec/services/candidates/registrations/gitis_registration_session_spec.rb
Labels: ruby, Review, Test

#2177 Add full stops in the rejection reasons
  config/locales/en.yml
Labels: Review, Config

#2176 Introduce Periodic Review Apps Cleaner
  .github/workflows/clean_reviews.yml
Labels: Review, DevOps

#2171 Update to v2 of the API client
  Gemfile.lock
  app/controllers/concerns/gitis_authentication.rb
  app/models/candidates/verification_code.rb
  app/services/bookings/gitis/event_logger.rb
  app/services/candidates/registrations/personal_information.rb
  config/initializers/git_api_client.rb
  spec/features/candidates/api_registrations_spec.rb
  spec/models/bookings/registration_contact_mapper_spec.rb
  spec/models/candidates/verification_code_spec.rb
  spec/services/bookings/gitis/event_logger_spec.rb
  spec/services/candidates/registrations/personal_information_spec.rb
  spec/support/fake_get_into_teaching_api_client.rb
  spec/support/stubbed_api.rb
Labels: ruby, Review, Test, Config

#2178 Change the profile publish route to GET
  app/views/schools/on_boarding/profiles/show.html.erb
  config/routes.rb
  features/schools/onboarding/school_profile.feature
  spec/controllers/schools/on_boarding/profiles_controller_spec.rb
Labels: ruby, Review, Test, Config

#2179 Update candidate registration flow to use GOV.UK form builder
  app/views/candidates/registrations/application_previews/show.html.erb
  app/views/candidates/registrations/background_checks/_form.html.erb
  app/views/candidates/registrations/contact_informations/_form.html.erb
  app/views/candidates/registrations/educations/_form.html.erb
  app/views/candidates/registrations/personal_informations/_form.html.erb
  app/views/candidates/registrations/placement_preferences/_form.html.erb
  app/views/candidates/registrations/sign_ins/show.html.erb
  app/views/candidates/registrations/subject_and_date_informations/_form.html.erb
  app/views/candidates/registrations/teaching_preferences/_form.html.erb
  config/locales/en.yml
  spec/features/candidates/api_registrations_spec.rb
  spec/views/candidates/registrations/personal_informations/_form.html.erb_spec.rb
Labels: ruby, Review, Test, Config

#2185 Update the onboarding confirmation page
  app/views/schools/on_boarding/confirmations/show.html.erb
  features/schools/onboarding/school_profile.feature
Labels: ruby, Review

#2180 Update placement cancellation forms to use GOV.UK form builder
  app/views/candidates/placement_requests/cancellations/_new_booking.html.erb
  app/views/candidates/placement_requests/cancellations/_new_placement_request.html.erb
Labels: ruby, Review

#2183 Update candidate sign in forms to use GOV.UK form builder
  app/views/candidates/sessions/create.html.erb
  app/views/candidates/sessions/new.html.erb
Labels: ruby, Review

#2144 Add event driven SMS
  app/controllers/schools/confirmed_bookings/cancellations/notification_deliveries_controller.rb
  app/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller.rb
  app/notify/notify_sms/candidate_booking_confirmation.c034e972-a9c6-4fae-924a-25ad8bf54031.md
  app/notify/notify_sms/candidate_booking_confirmation.rb
  app/notify/notify_sms/candidate_booking_reminder.rb
  app/notify/notify_sms/candidate_booking_school_cancels_booking.f4bbf2dc-5ebf-4723-8560-1266608e558d.md
  app/notify/notify_sms/candidate_booking_school_cancels_booking.rb
  app/notify/notify_sms/candidate_request_confirmation_no_pii.rb
  app/views/candidates/registrations/contact_informations/_form.html.erb
  app/views/schools/confirmed_bookings/cancellations/notification_deliveries/show.html.erb
  app/views/schools/placement_requests/acceptance/email_sent/show.html.erb
  features/step_definitions/candidates/registrations/contact_information_steps.rb
  spec/controllers/schools/confirmed_bookings/cancellations/notification_deliveries_controller_spec.rb
  spec/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller_spec.rb
  spec/notify/notify_sms/candidate_booking_confirmation_spec.rb
  spec/notify/notify_sms/candidate_booking_school_cancels_booking_spec.rb
Labels: ruby, Review, Test

#2186 Update placement dates subject selection/configuration to use new GOV.UK form builder
  app/views/schools/placement_dates/configurations/new.html.erb
  app/views/schools/placement_dates/edit.html.erb
  app/views/schools/placement_dates/new.html.erb
  app/views/schools/placement_dates/subject_selections/new.html.erb
  config/locales/en.yml
  features/step_definitions/form_steps.rb
Labels: ruby, Review, Config

#2181 Concurency Check
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
Labels: Review, DevOps

#2195 Enable email reminders in production
  config/environments/production.rb
Labels: ruby, Config

#2190 Update school availability forms to use GOV.UK form builder
  app/views/schools/availability_info/edit.html.erb
  app/views/schools/availability_preferences/edit.html.erb
  config/locales/en.yml
Labels: ruby, Review, Config

#2192 Update school change form to use GOV.UK form builder
  app/views/schools/change_schools/show.html.erb
  config/locales/en.yml
Labels: ruby, Review, Config

#2193 Update cancellation edit forms to use GOV.UK form builder
  app/views/schools/confirmed_bookings/cancellations/_form.html.erb
  app/views/schools/confirmed_bookings/date/edit.html.erb
  config/locales/en.yml
Labels: ruby, Review, Config

#2199 Update the cancellation email preview
  app/views/schools/placement_requests/cancellations/_letter.html.erb
Labels: ruby, Review

#2198 Update school search forms to use GOV.UK form builder
  app/views/candidates/school_searches/new.html.erb
  app/views/candidates/schools/index.html.erb
  app/webpacker/stylesheets/school-search.scss
  spec/views/candidates/school_searches/new.html.erb_spec.rb
  spec/views/candidates/schools/index.html.erb_spec.rb
Labels: ruby, Review, Test, Style

#2158 Add cron sms
  app/jobs/bookings/reminder_job.rb
  app/jobs/cron/reminders/next_week_job.rb
  app/jobs/cron/reminders/tomorrow_job.rb
  app/notify/notify_sms/candidate_booking_reminder.10aa6a3b-bbe8-4e98-97b2-4409eef47496.md
  app/notify/notify_sms/candidate_booking_reminder.rb
  app/services/bookings/reminder.rb
  spec/jobs/bookings/reminder_job_spec.rb
  spec/jobs/cron/reminders/next_week_job_spec.rb
  spec/jobs/cron/reminders/tomorrow_job_spec.rb
  spec/notify/notify_sms/candidate_booking_reminder_spec.rb
  spec/services/bookings/reminder_spec.rb
Labels: ruby, Review, Test

#2191 Github have introduced types on inputs for workflows.
  .github/workflows/manual.yml
Labels: Review, DevOps

#2200 Update confirm attendance form to use GOV.UK form builder
  Gemfile
  Gemfile.lock
  app/helpers/application_helper.rb
  app/helpers/schools/confirm_attendance_helper.rb
  app/views/schools/confirm_attendance/show.html.erb
  config/initializers/govuk_form_builder.rb
  spec/helpers/application_helper_spec.rb
Labels: ruby, Review, Test, Config

#2188 Dont send sms non prod
  app/notify/notify_despatchers/sms.rb
  config/environments/production.rb
  spec/notify/notify_despatchers/notify_spec.rb
  spec/services/bookings/reminder_spec.rb
  spec/support/notify_email_shared_examples.rb
Labels: ruby, Review, Test, Config

#2201 Update the bundler version in Dockerfile
  Dockerfile
Labels: docker, Review

#2202 Add parking filter in the search page
  app/controllers/candidates/schools_controller.rb
  app/helpers/candidates/school_helper.rb
  app/models/bookings/school.rb
  app/models/bookings/school_search.rb
  app/models/candidates/school_search.rb
  app/views/candidates/schools/index.html.erb
  config/locales/en.yml
  db/migrate/20220111121054_add_parking_to_bookings_school_search.rb
  db/schema.rb
  spec/controllers/candidates/schools_controller_spec.rb
  spec/helpers/candidates/school_helper_spec.rb
  spec/models/bookings/school_search_spec.rb
  spec/models/bookings/school_spec.rb
  spec/models/candidates/school_search_spec.rb
  spec/views/candidates/schools/index.html.erb_spec.rb
Labels: ruby, Review, Test, Config

#2203 Change the look of the filters section
  app/views/candidates/schools/index.html.erb
  app/webpacker/stylesheets/school-search.scss
Labels: ruby, Review, Style

#2204 Update the manage school privacy policy
  app/views/pages/schools_privacy_policy.html.erb
Labels: ruby

#2205 Cucumber tests
  app/views/candidates/school_searches/new.html.erb
  app/views/schools/confirmed_bookings/cancellations/show.html.erb
  app/views/schools/on_boarding/fees/_form.html.erb
  app/views/schools/placement_requests/cancellations/_form.html.erb
  config/locales/en.yml
  features/step_definitions/candidates/schools/results_steps.rb
  features/step_definitions/form_steps.rb
Labels: ruby, Review, Config

#2207 Reorder presence validation to be after timeliness
  app/models/bookings/booking.rb
  features/step_definitions/form_steps.rb
Labels: ruby, Review

#2208 Update the school description form
  app/views/schools/on_boarding/descriptions/_form.html.erb
  config/locales/en.yml
  features/schools/onboarding/descriptions.feature
  features/step_definitions/schools/onboarding_steps.rb
Labels: ruby, Review, Config

#2216 Change Account Home -> School Dashboard
  app/views/schools/dashboards/show.html.erb
Labels: ruby, Review

#2215 Only attempt sms mobile
  app/notify/notify_despatchers/sms.rb
  spec/factories/api_factory.rb
  spec/notify/notify_despatchers/notify_spec.rb
Labels: ruby, Review, Test

#2219 Bump up ruby and js dependencies
  Gemfile
  Gemfile.lock
  features/step_definitions/candidates/schools/results_steps.rb
  features/step_definitions/common_steps.rb
  spec/support/fake_get_into_teaching_api_client.rb
  yarn.lock
Labels: Review, Test

#2220 Remove form view helpers
  app/helpers/application_helper.rb
  app/views/candidates/placement_requests/cancellations/_new_booking.html.erb
  app/views/candidates/placement_requests/cancellations/_new_placement_request.html.erb
  app/views/candidates/registrations/application_previews/show.html.erb
  app/views/candidates/registrations/background_checks/_form.html.erb
  app/views/candidates/registrations/contact_informations/_form.html.erb
  app/views/candidates/registrations/educations/_form.html.erb
  app/views/candidates/registrations/personal_informations/_form.html.erb
  app/views/candidates/registrations/placement_preferences/_form.html.erb
  app/views/candidates/registrations/sign_ins/show.html.erb
  app/views/candidates/registrations/subject_and_date_informations/_form.html.erb
  app/views/candidates/registrations/teaching_preferences/_form.html.erb
  app/views/candidates/school_searches/new.html.erb
  app/views/candidates/schools/index.html.erb
  app/views/candidates/sessions/create.html.erb
  app/views/candidates/sessions/new.html.erb
  app/views/cookie_preferences/edit.html.erb
  app/views/feedbacks/_form.html.erb
  app/views/schools/availability_info/edit.html.erb
  app/views/schools/availability_preferences/edit.html.erb
  app/views/schools/change_schools/show.html.erb
  app/views/schools/confirm_attendance/show.html.erb
  app/views/schools/confirmed_bookings/cancellations/_form.html.erb
  app/views/schools/confirmed_bookings/date/edit.html.erb
  app/views/schools/csv_exports/_form.html.erb
  app/views/schools/on_boarding/_school_fees_shared_form.html.erb
  app/views/schools/on_boarding/access_needs_details/_form.html.erb
  app/views/schools/on_boarding/access_needs_policies/_form.html.erb
  app/views/schools/on_boarding/access_needs_supports/_form.html.erb
  app/views/schools/on_boarding/admin_contacts/_form.html.erb
  app/views/schools/on_boarding/candidate_experience_details/_form.html.erb
  app/views/schools/on_boarding/candidate_requirements_choices/_form.html.erb
  app/views/schools/on_boarding/candidate_requirements_selections/_form.html.erb
  app/views/schools/on_boarding/dbs_fees/new.html.erb
  app/views/schools/on_boarding/dbs_requirements/_form.html.erb
  app/views/schools/on_boarding/descriptions/_form.html.erb
  app/views/schools/on_boarding/disability_confidents/_form.html.erb
  app/views/schools/on_boarding/experience_outlines/_form.html.erb
  app/views/schools/on_boarding/fees/_form.html.erb
  app/views/schools/on_boarding/key_stage_lists/_form.html.erb
  app/views/schools/on_boarding/phases_lists/_form.html.erb
  app/views/schools/on_boarding/profiles/show.html.erb
  app/views/schools/on_boarding/subjects/_form.html.erb
  app/views/schools/on_boarding/teacher_trainings/_form.html.erb
  app/views/schools/placement_dates/configurations/new.html.erb
  app/views/schools/placement_dates/edit.html.erb
  app/views/schools/placement_dates/new.html.erb
  app/views/schools/placement_dates/subject_selections/new.html.erb
  app/views/schools/placement_requests/acceptance/confirm_booking/new.html.erb
  app/views/schools/placement_requests/acceptance/make_changes/new.html.erb
  app/views/schools/placement_requests/acceptance/preview_confirmation_email/edit.html.erb
  app/views/schools/placement_requests/cancellations/_form.html.erb
  app/views/schools/placement_requests/reject/new.html.erb
  app/views/schools/toggle_enabled/edit.html.erb
  spec/helpers/application_helper_spec.rb
Labels: ruby, Review, Test

#2160 Swap api endpoint
  app/controllers/candidates/placement_requests/cancellations_controller.rb
  app/controllers/candidates/registrations/placement_requests_controller.rb
  app/controllers/schools/confirmed_bookings/cancellations/notification_deliveries_controller.rb
  app/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller.rb
  app/controllers/schools/placement_requests/cancellations/notification_deliveries_controller.rb
  app/models/bookings/registration_contact_mapper.rb
  app/models/schools/attendance.rb
  app/services/bookings/gitis/event_logger.rb
  app/services/bookings/gitis/school_experience.rb
  app/services/bookings/gitis/subject_fetcher.rb
  config/application.rb
  config/locales/en.yml
  spec/controllers/candidates/placement_requests/cancellations_controller_spec.rb
  spec/controllers/candidates/registrations/placement_requests_controller_spec.rb
  spec/controllers/schools/confirm_attendance_controller_spec.rb
  spec/controllers/schools/confirmed_bookings/cancellations/notification_deliveries_controller_spec.rb
  spec/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller_spec.rb
  spec/controllers/schools/placement_requests/cancellations/notification_deliveries_controller_spec.rb
  spec/features/candidates/api_registrations_spec.rb
  spec/models/schools/attendance_spec.rb
  spec/rails_helper.rb
  spec/services/bookings/gitis/event_logger_spec.rb
  spec/services/bookings/gitis/school_experience_spec.rb
  spec/services/bookings/gitis/subject_fetcher_spec.rb
  spec/support/stubbed_api.rb
Labels: ruby, Review, Test, Config

#2221 Update the content in the accept request flow
  app/views/schools/placement_requests/acceptance/confirm_booking/new.html.erb
  app/views/schools/placement_requests/acceptance/email_preview_sections/_cancellation_details.html.erb
  app/views/schools/placement_requests/acceptance/email_preview_sections/_date_details.html.erb
  app/views/schools/placement_requests/acceptance/email_preview_sections/_dress_code.html.erb
  app/views/schools/placement_requests/acceptance/email_preview_sections/_help_and_support.html.erb
  app/views/schools/placement_requests/acceptance/email_preview_sections/_location.html.erb
  app/views/schools/placement_requests/acceptance/email_preview_sections/_school_experience_contacts.html.erb
  app/views/schools/placement_requests/acceptance/email_preview_sections/_school_experience_details.html.erb
  app/views/schools/placement_requests/acceptance/make_changes/new.html.erb
  app/views/schools/placement_requests/acceptance/preview_confirmation_email/edit.html.erb
  app/webpacker/stylesheets/school-placement-requests.scss
  config/locales/en.yml
  features/schools/placement_requests/acceptance/sending_details_to_candidate.feature
Labels: ruby, Review, Config, Style

#2222 Refactor outstanding task counters for consistency
  app/controllers/schools/dashboards_controller.rb
  app/models/bookings/placement_request.rb
  app/models/schools/change_school.rb
  app/models/schools/outstanding_tasks.rb
  app/views/schools/dashboards/_history_and_support.html.erb
  app/views/schools/dashboards/_requests_and_bookings.html.erb
  spec/models/bookings/placement_request_spec.rb
  spec/models/schools/outstanding_tasks_spec.rb
Labels: ruby, Review, Test

#2224 Make dates GOV.UK format throughout
  config/initializers/date_format.rb
  features/schools/attendances/index.feature
  features/schools/cancelled_bookings/show.feature
  features/schools/confirmed_bookings/show.feature
  features/schools/previous_bookings/show.feature
  features/step_definitions/candidates/registrations/application_preview_steps.rb
  features/step_definitions/candidates/registrations/subject_and_date_information_steps.rb
  features/step_definitions/candidates/schools/show_steps.rb
  features/step_definitions/schools/bookings_steps.rb
  features/step_definitions/schools/confirm_attendance_steps.rb
  features/step_definitions/schools/placement_dates/edit_steps.rb
  features/step_definitions/schools/placement_requests/confirm_booking_steps.rb
  features/step_definitions/schools/previous_bookings_steps.rb
  spec/controllers/schools/confirmed_bookings/date_controller_spec.rb
Labels: ruby, Review, Test, Config

#2223 Refactor the profile status warnings
  app/helpers/schools/dashboards_helper.rb
  app/views/schools/dashboards/_no_availability_info_warning.html.erb
  app/views/schools/dashboards/_profile_status.html.erb
  app/views/schools/dashboards/_status.html.erb
  app/views/schools/dashboards/_update_your_school_profile.html.erb
  app/views/schools/dashboards/_your_school_is_disabled.html.erb
  app/views/schools/dashboards/show.html.erb
  features/schools/dashboard.feature
  features/step_definitions/candidates/dashboard_steps.rb
  features/step_definitions/schools/dashboard_steps.rb
  spec/helpers/schools/dashboards_helper_spec.rb
Labels: ruby, Review, Test

#2226 Fix Cucumber specs not running in CI
  .github/workflows/build.yml
  CUCUMBER_TESTING.md
  Dockerfile
  Gemfile
  Gemfile.lock
  config/cucumber.yml
  docker-compose-chrome.yml
  docker-compose-firefox.yml
  docker-compose.yml
  features/candidates/registrations/education.feature
  features/candidates/registrations/request_school_experience_placement/page_contents.feature
  features/schools/placement_requests/cancelling.feature
  features/support/env.rb
  script/docker-entrypoint.sh
  spec/support/fake_get_into_teaching_api_client.rb
  terraform/paas/application.tf
  terraform/paas/variables.tf
Labels: docker, Review, Test, Config, DevOps

#2227 Update the content in the dashboard profile and preview pages
  app/presenters/schools/on_boarding/preview_presenter.rb
  app/presenters/schools/on_boarding/school_profile_presenter.rb
  app/views/schools/on_boarding/previews/show.html.erb
  app/views/schools/on_boarding/profiles/show.html.erb
  spec/presenters/schools/on_boarding/preview_presenter_spec.rb
  spec/presenters/schools/on_boarding/school_profile_presenter_spec.rb
Labels: ruby, Review, Test

#2225 Add secondary subject to the CSV export
  app/models/schools/csv_export.rb
  app/models/schools/csv_export_row.rb
  spec/models/schools/csv_export_row_spec.rb
  spec/models/schools/csv_export_spec.rb
Labels: ruby, Review, Test

#2236 Support facet tags in school search/filtering
  README.md
  app/controllers/candidates/schools_controller.rb
  app/helpers/candidates/school_helper.rb
  app/models/candidates/school_search.rb
  app/presenters/facet_tags_presenter.rb
  app/views/candidates/schools/index.html.erb
  app/views/shared/_facet_tags.html.erb
  app/webpacker/controllers/search_controller.js
  app/webpacker/stylesheets/application.scss
  app/webpacker/stylesheets/facet-tags.scss
  app/webpacker/stylesheets/school-search.scss
  babel.config.js
  config/locales/en.yml
  features/candidates/schools/search/results/filtering.feature
  features/step_definitions/candidates/schools/filtering_steps.rb
  package.json
  spec/helpers/candidates/school_helper_spec.rb
  spec/javascript/controllers/search_controller_spec.js
  spec/models/candidates/school_search_spec.rb
  spec/presenters/facet_tags_presenter_spec.rb
  spec/views/candidates/schools/index.html.erb_spec.rb
  yarn.lock
Labels: ruby, Review, Test, Config, Style

#2238 Create check_sp.yml
  .github/workflows/check_sp.yml
Labels: Review, DevOps

#2218 Add ability to open/close date a number of days before it starts
  app/controllers/schools/placement_dates/configurations_controller.rb
  app/controllers/schools/placement_dates/subject_selections_controller.rb
  app/controllers/schools/placement_dates_controller.rb
  app/forms/schools/placement_dates/close_confirmation_form.rb
  app/forms/schools/placement_dates/configuration_form.rb
  app/forms/schools/placement_dates/subject_selection.rb
  app/models/bookings/placement_date.rb
  app/views/schools/placement_dates/close_confirmation.html.erb
  app/views/schools/placement_dates/edit.html.erb
  app/views/schools/placement_dates/index.html.erb
  app/views/schools/placement_dates/new.html.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20220119115856_add_availability_offsets_to_bookings_placement_dates.rb
  db/migrate/20220125180747_set_start_availability_offset_to_maximum_for_existing_dates.rb
  db/schema.rb
  features/schools/placement_dates/edit.feature
  features/schools/placement_dates/new.feature
  features/step_definitions/schools/placement_dates/edit_steps.rb
  features/step_definitions/schools/placement_dates/new_steps.rb
  spec/controllers/schools/placement_dates/configurations_controller_spec.rb
  spec/controllers/schools/placement_dates/subject_selections_controller_spec.rb
  spec/controllers/schools/placement_dates_controller_spec.rb
  spec/forms/schools/placement_dates/configuration_form_spec.rb
  spec/forms/schools/placement_dates/subject_selection_spec.rb
  spec/models/bookings/placement_date_spec.rb
Labels: ruby, Review, Test, Config

#2240 Use correct Service Principle
  .github/workflows/check_sp.yml
Labels: DevOps

#2239 Stop populating analytics_tracking_uuid attributes
  app/controllers/candidates/registrations/placement_requests_controller.rb
  app/controllers/candidates/school_searches_controller.rb
  app/controllers/candidates/schools_controller.rb
  app/controllers/concerns/analytics_tracking.rb
  app/models/bookings/placement_request.rb
  app/models/candidates/school_search.rb
  spec/controllers/candidates/schools_controller_spec.rb
  spec/models/bookings/placement_request_spec.rb
Labels: ruby, Review, Test

#2242 Remove accordion GA event
  app/webpacker/analytics/log_accordion_toggle.js
  app/webpacker/analytics/send_ga_event.js
  app/webpacker/packs/application.js
Labels: Review

#2229 Create January 2022 service update
  data/service_updates/20220127.yml
Labels: Review

#2244 Extend school search
  app/controllers/candidates/schools_controller.rb
  app/models/bookings/school_search.rb
  app/models/candidates/school_search.rb
  app/views/candidates/schools/_england_only_service.html.erb
  app/views/candidates/schools/index.html.erb
  features/candidates/schools/search/results/no_results.feature
  features/step_definitions/candidates/schools/results_steps.rb
  lib/servertest/geocoder.rb
  spec/helpers/candidates/results_helper_spec.rb
  spec/models/bookings/school_search_spec.rb
  spec/rails_helper.rb
  spec/views/candidates/schools/index.html.erb_spec.rb
Labels: ruby, Review, Test

#2243 Add GTM container for delivering analytics
  app/controllers/concerns/maps_content_security_policy.rb
  app/helpers/google_analytics_helper.rb
  app/helpers/tracking_helper.rb
  app/models/cookie_preference.rb
  app/views/application/_gtm_fallback.html.erb
  app/views/layouts/application.html.erb
  app/views/pages/cookies_policy.html.erb
  app/views/shared/application/_javascript_cookie_preferences.html.erb
  app/webpacker/cookie_preferences.js
  app/webpacker/gtm.js
  app/webpacker/packs/gtm.js
  config/initializers/content_security_policy.rb
  doc/env-vars.md
  package.json
  spec/controllers/cookie_preferences_controller_spec.rb
  spec/helpers/google_analytics_helper_spec.rb
  spec/helpers/tracking_helper_spec.rb
  spec/javascript/cookie_preferences_spec.js
  spec/javascript/gtm_spec.js
  spec/models/cookie_preference_spec.rb
  spec/requests/google_analytics/presence_spec.rb
  spec/requests/tracking_scripts_spec.rb
Labels: ruby, Review, Test, Config

#2246 Fix typo in manual release
  .github/workflows/manual.yml
Labels: DevOps

#2248 Send page view to GTM on search
  app/webpacker/controllers/search_controller.js
  spec/javascript/controllers/search_controller_spec.js
Labels: Review, Test

#2245 Separate the candidate placement preference and availability questions
  app/controllers/candidates/registrations/availability_preferences_controller.rb
  app/controllers/candidates/registrations/placement_preferences_controller.rb
  app/models/bookings/placement_request.rb
  app/models/bookings/registration_contact_mapper.rb
  app/services/candidates/registrations/application_preview.rb
  app/services/candidates/registrations/availability_preference.rb
  app/services/candidates/registrations/behaviours/availability_preference.rb
  app/services/candidates/registrations/behaviours/placement_preference.rb
  app/services/candidates/registrations/placement_preference.rb
  app/services/candidates/registrations/registration_as_placement_request.rb
  app/services/candidates/registrations/registration_session.rb
  app/services/candidates/registrations/registration_state.rb
  app/views/candidates/registrations/application_previews/show.html.erb
  app/views/candidates/registrations/availability_preferences/_form.html.erb
  app/views/candidates/registrations/availability_preferences/edit.html.erb
  app/views/candidates/registrations/availability_preferences/new.html.erb
  app/views/candidates/registrations/placement_preferences/_form.html.erb
  config/locales/en.yml
  config/routes.rb
  features/candidates/registrations/application_preview.feature
  features/candidates/registrations/availability_preference.feature
  features/candidates/registrations/background_check.feature
  features/candidates/registrations/experience_preference.feature
  features/candidates/registrations/request_school_experience_placement/page_contents.feature
  features/candidates/registrations/request_school_experience_placement/schools_with_flexible_availability.feature
  features/candidates/registrations/request_school_experience_placement/schools_with_specified_placement_dates.feature
  features/candidates/registrations/teaching_preference.feature
  features/candidates/registrations/wizard.feature
  features/step_definitions/candidates/registrations/application_preview_steps.rb
  features/step_definitions/candidates/registrations/request_school_experience_placement_steps.rb
  features/step_definitions/candidates/registrations/wizard_steps.rb
  features/support/path_helper.rb
  spec/controllers/candidates/registrations/availability_preferences_controller_spec.rb
  spec/controllers/candidates/registrations/background_checks_controller_spec.rb
  spec/controllers/candidates/registrations/confirmation_emails_controller_spec.rb
  spec/controllers/candidates/registrations/placement_preferences_controller_spec.rb
  spec/factories/candidates/registrations/availability_preference_factory.rb
  spec/factories/candidates/registrations/legacy_registration_session.rb
  spec/factories/candidates/registrations/placement_preference_factory.rb
  spec/factories/candidates/registrations/registration_session_factory.rb
  spec/features/candidates/api_registrations_spec.rb
  spec/models/bookings/placement_request_spec.rb
  spec/services/candidates/registrations/application_preview_spec.rb
  spec/services/candidates/registrations/availability_preference_spec.rb
  spec/services/candidates/registrations/placement_preference_spec.rb
  spec/services/candidates/registrations/registration_state_spec.rb
Labels: ruby, Review, Test, Config

#2253 Pre-check all subjects for new placement dates
  app/controllers/schools/placement_dates/subject_selections_controller.rb
  config/locales/en.yml
  features/schools/placement_dates/subject_selection.feature
  features/step_definitions/schools/placement_dates/placement_date_steps.rb
Labels: ruby, Review, Config

#2254 Handle unknown countries in candidate school search
  app/controllers/candidates/schools_controller.rb
  app/models/bookings/school_search.rb
  app/models/candidates/school_search.rb
  app/views/candidates/schools/_england_only_service.html.erb
  app/views/candidates/schools/index.html.erb
  lib/geocoding_response_country.rb
  spec/lib/geocoding_response_country_spec.rb
  spec/models/bookings/school_search_spec.rb
  spec/views/candidates/schools/index.html.erb_spec.rb
Labels: ruby, Review, Test
