Repository DFE-Digital/schools-experience, pull requests merged in 2022-11, with the labels that each got.

#2707 700 update set output usage
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  .github/workflows/check_sp.yml
  .github/workflows/destroy.yml
Labels: Review, github_actions, DevOps

#2726 Add a user model
  Gemfile
  Gemfile.lock
  app/controllers/concerns/dfe_authentication.rb
  app/controllers/schools/insecure_sessions_controller.rb
  app/controllers/schools/sessions_controller.rb
  app/decorators/user_info_decorator.rb
  app/helpers/application_helper.rb
  app/models/user.rb
  config/analytics.yml
  config/analytics_blocklist.yml
  config/analytics_pii.yml
  config/initializers/dfe_analytics.rb
  db/migrate/20221031134558_create_users.rb
  db/schema.rb
  lib/servertest/sessions_controller.rb
  spec/controllers/concerns/dfe_authentication_spec.rb
  spec/controllers/schools/sessions_controller_spec.rb
  spec/factories/users.rb
  spec/helpers/application_helper_spec.rb
  spec/models/user_spec.rb
Labels: ruby, Review, Test, Config

#2729 Reinstate UserInfoDecorator
  app/decorators/user_info_decorator.rb
  app/helpers/application_helper.rb
Labels: ruby, Review

#2727 Add rolify gem to manage school permissions
  Gemfile
  Gemfile.lock
  app/models/bookings/school.rb
  app/models/role.rb
  app/models/user.rb
  config/analytics.yml
  config/analytics_pii.yml
  config/initializers/rolify.rb
  db/migrate/20221104080002_rolify_create_roles.rb
  db/schema.rb
  spec/models/bookings/school_spec.rb
  spec/models/role_spec.rb
  spec/models/user_spec.rb
Labels: ruby, Review, Test, Config

#2739 Various dependency updates
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#2678 Change order of safeguarding and fees section
  app/forms/schools/on_boarding/wizard.rb
  config/locales/en.yml
  spec/forms/schools/on_boarding/wizard_spec.rb
Labels: ruby, Review, Test, Config
