Repository DFE-Digital/schools-experience, pull requests merged in 2022-03, with the labels that each got.

#2344 Enable metrics in production
  config/routes.rb
  spec/factories/bookings/placement_dates.rb
Labels: ruby, Review, Test, Config

#2349 Separate date details
  app/controllers/concerns/schools/placement_dates/wizard.rb
  app/controllers/schools/placement_dates/placement_details_controller.rb
  app/controllers/schools/placement_dates_controller.rb
  app/forms/schools/placement_dates/placement_detail.rb
  app/helpers/schools/placement_dates_helper.rb
  app/models/bookings/placement_date.rb
  app/views/schools/placement_dates/edit.html.erb
  app/views/schools/placement_dates/index.html.erb
  app/views/schools/placement_dates/new.html.erb
  app/views/schools/placement_dates/placement_details/new.html.erb
  app/webpacker/stylesheets/school-placement-dates.scss
  config/locales/en.yml
  config/routes.rb
  db/migrate/20220301170459_allow_bookings_placement_date_virtual_to_be_null.rb
  db/schema.rb
  features/schools/placement_dates/edit.feature
  features/schools/placement_dates/index.feature
  features/schools/placement_dates/new.feature
  features/schools/placement_dates/placement_details.feature
  features/schools/placement_dates/primary_and_secondary_school_configuration.feature
  features/schools/placement_dates/secondary_school_configuration.feature
  features/schools/placement_dates/subject_selection.feature
  features/step_definitions/schools/placement_dates/edit_steps.rb
  features/step_definitions/schools/placement_dates/index_steps.rb
  features/step_definitions/schools/placement_dates/new_steps.rb
  features/step_definitions/schools/placement_dates/placement_date_steps.rb
  features/support/path_helper.rb
  spec/controllers/schools/placement_dates/placement_details_controller_spec.rb
  spec/controllers/schools/placement_dates_controller_spec.rb
  spec/forms/schools/placement_dates/placement_detail_spec.rb
  spec/helpers/schools/placement_dates_helper_spec.rb
  spec/models/bookings/placement_date_spec.rb
Labels: ruby, Review, Test, Config, Style

#2320 Remove gitis_uuid
  app/models/bookings/subject.rb
  db/migrate/20220304152958_remove_gitis_uuid_from_bookings_subject.rb
  db/schema.rb
Labels: ruby, Review

#2358 [570] Fix gmp security vulnerability
  Dockerfile
  README.md
Labels: docker, Review

#2366 Create a simple dashboard for the candidates
  app/controllers/candidates/dashboards_controller.rb
  app/helpers/candidates/dashboard_helper.rb
  app/presenters/candidates/placement_presenter.rb
  app/views/candidates/dashboards/_placement_request.html.erb
  app/views/candidates/dashboards/show.html.erb
  features/candidates/dashboard.feature
  features/step_definitions/candidates/dashboard_steps.rb
  features/support/path_helper.rb
  spec/controllers/candidates/dashboards_controller_spec.rb
  spec/factories/bookings/bookings_factory.rb
  spec/factories/bookings/placement_request_factory.rb
  spec/presenters/candidates/placement_presenter_spec.rb
  spec/support/candidate_signin.rb
  spec/views/candidates/dashboards/show.html.erb_spec.rb
Labels: ruby, Review, Test

#2367 Use Google API loader library for Places Autocomplete
  app/webpacker/controllers/autocomplete_controller.js
  spec/javascript/controllers/autocomplete_controller_spec.js
Labels: Review, Test

#2368 Enable candidate dashboard in staging
  feature-flags.json
Labels: Review

#2369 Switch to DirectFileStore for Prometheus metrics
  config/application.rb
  terraform/paas/variables.tf
Labels: ruby, Review, Config, DevOps

#2370 Reduce DelayedJob sleep_delay
  config/initializers/delayed_job.rb
Labels: ruby, Review, Config

#2371 Deprecations
  Gemfile
  Gemfile.lock
  app/controllers/pages_controller.rb
  app/models/healthcheck.rb
  app/services/candidates/registrations/registration_store.rb
  config/initializers/rack_attack.rb
  config/initializers/redis.rb
  spec/controllers/healthchecks_controller_spec.rb
  spec/controllers/pages_controller_spec.rb
  spec/models/healthcheck_spec.rb
  spec/rails_helper.rb
  spec/services/candidates/registrations/registration_store_spec.rb
Labels: ruby, Review, Test, Config

#2365 Add a scheduled status for placement dates
  app/helpers/schools/placement_dates_helper.rb
  app/views/schools/placement_dates/index.html.erb
  spec/factories/bookings/placement_dates.rb
  spec/helpers/schools/placement_dates_helper_spec.rb
Labels: ruby, Review, Test

#2372 Make sure page has a h1
  app/views/schools/placement_dates/new.html.erb
Labels: ruby

#2374 Fix Cucumber tests
  features/step_definitions/form_steps.rb
Labels: Review

#2379 Update scheduled tag to grey
  app/helpers/schools/placement_dates_helper.rb
  spec/helpers/schools/placement_dates_helper_spec.rb
Labels: ruby, Review, Test

#2380 Change all expired to grey
  app/helpers/schools/placement_requests_helper.rb
  app/presenters/candidates/placement_presenter.rb
Labels: ruby, Review

#2376 Add button to candidate dashboard to request confirmation page
  app/views/candidates/registrations/placement_requests/show.html.erb
  spec/features/candidates/api_registrations_spec.rb
Labels: ruby, Review, Test

#2378 Update the content in Unprocessable entity page
  app/views/errors/unprocessable_entity.html.erb
  features/errors/unprocessable_entity.feature
  features/step_definitions/errors/error_page_steps.rb
Labels: ruby, Review

#2377 Update content in the Disability Confident question
  app/views/schools/on_boarding/disability_confidents/_form.html.erb
  config/locales/en.yml
  features/schools/onboarding/disability_confident.feature
Labels: ruby, Review, Config

#2384 Fix the sorting info feature tests
  spec/views/candidates/schools/index.html.erb_spec.rb
Labels: Test

#2381 Update content on the admin details page
  app/views/schools/on_boarding/admin_contacts/_form.html.erb
  config/locales/en.yml
  features/schools/onboarding/admin_contact.feature
Labels: ruby, Review, Config

#2373 Tabbed profile
  app/controllers/schools/on_boarding/confirmations_controller.rb
  app/controllers/schools/on_boarding/profiles_controller.rb
  app/presenters/schools/on_boarding/school_profile_presenter.rb
  app/views/schools/on_boarding/profiles/_admin_contact_details_summary.html.erb
  app/views/schools/on_boarding/profiles/_candidate_information_summary.html.erb
  app/views/schools/on_boarding/profiles/_school_details_summary.html.erb
  app/views/schools/on_boarding/profiles/_school_experience_details_summary.html.erb
  app/views/schools/on_boarding/profiles/_success_notice.html.erb
  app/views/schools/on_boarding/profiles/editing.html.erb
  app/views/schools/on_boarding/profiles/onboarding.html.erb
  app/views/schools/on_boarding/profiles/show.html.erb
  spec/controllers/schools/on_boarding/confirmations_controller_spec.rb
  spec/controllers/schools/on_boarding/profiles_controller_spec.rb
  spec/presenters/schools/on_boarding/school_profile_presenter_spec.rb
Labels: ruby, Review, Test

#2375 Update the content in the Access Needs question
  app/views/schools/on_boarding/access_needs_details/_form.html.erb
  config/locales/en.yml
  features/schools/onboarding/access_needs_detail.feature
Labels: ruby, Review, Config

#2388 Use two thirds layout for summary page
  app/views/candidates/registrations/application_previews/show.html.erb
Labels: ruby, Review

#2389 Fix scheduled status bug
  app/helpers/schools/placement_dates_helper.rb
  spec/helpers/schools/placement_dates_helper_spec.rb
Labels: ruby, Review, Test

#2386 Update to GOV.UK frontend 4
  app/views/layouts/application.html.erb
  app/views/shared/_start_button_chevron.html.erb
  app/webpacker/controllers/autocomplete_controller.js
  package.json
  spec/javascript/controllers/autocomplete_controller_spec.js
  yarn.lock
Labels: ruby, Review, Test

#2399 Profile complete email
  app/jobs/cron/reminders/add_availability_job.rb
  app/models/bookings/school.rb
  app/notify/notify_email/school_add_availability_reminder.eee3d861-3365-40ff-a178-80516f771024.md
  app/notify/notify_email/school_add_availability_reminder.rb
  spec/jobs/cron/reminders/add_availability_job_spec.rb
  spec/models/bookings/school_spec.rb
  spec/notify/notify_email/school_add_availability_reminder_spec.rb
  spec/support/notify_email_shared_examples.rb
Labels: ruby, Review, Test

#2398 Updating colours to less strong
  app/helpers/schools/bookings_helper.rb
  app/webpacker/stylesheets/school-bookings.scss
  spec/helpers/schools/bookings_helper_spec.rb
Labels: ruby, Test, Style

#2401 Fix nil candidate error
  app/controllers/schools/rejected_requests_controller.rb
Labels: ruby, Review

#2405 Upgrade libretls to patch vulnerability
  Dockerfile
Labels: docker

#2404 Upgrade Postgres to v12 in dev environment
  terraform/paas/dev.env.tfvars
Labels: DevOps

#2407 Change CF healthcheck to use port
  terraform/paas/application.tf
Labels: Review, DevOps

#2410 Update terraform with correct Postgres version
  terraform/paas/dev.env.tfvars
Labels: DevOps

#2409 March Service update
  app/models/service_update.rb
  app/views/schools/dashboards/_service_update_notice.html.erb
  app/views/service_updates/_service_update.html.erb
  app/views/service_updates/index.html.erb
  data/service_updates/20211025.yml
  data/service_updates/20220127.yml
  data/service_updates/20220322.yml
  spec/models/service_update_spec.rb
Labels: ruby, Review, Test

#2408 Upgrade to Ruby 3.1
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  app/controllers/cookie_preferences_controller.rb
  app/forms/schools/on_boarding/candidate_experience_schedule.rb
  app/helpers/candidates/school_helper.rb
  app/models/bookings/candidate.rb
  app/models/bookings/data/gias_data_file.rb
  app/models/bookings/profile.rb
  app/validators/email_format_validator.rb
  app/views/candidates/registrations/teaching_preferences/_form.html.erb
  app/views/schools/availability_preferences/edit.html.erb
  lib/geocoding_request.rb
  spec/support/notify_email_shared_examples.rb
Labels: ruby, docker, Review, Test

#2411 Fix warning with Dockerfile
  Dockerfile
Labels: docker, Review

#2415 Update staging terraform with correct postgres version
  terraform/paas/staging.env.tfvars
Labels: Review, DevOps

#2416 Update to use Rails 6.1 application defaults
  config/application.rb
  config/initializers/new_framework_defaults_6_1.rb
  spec/jobs/notify_job_spec.rb
  spec/models/bookings/placement_date_spec.rb
Labels: ruby, Review, Test, Config
