Repository DFE-Digital/schools-experience, pull requests merged in 2023-09, with the labels that each got.

#2958 Bump the versions of the ruby gems
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#2962 Add initializer for non vcap application
  config/initializers/yabeda.rb
Labels: ruby, Review, Config

#2968 Created aks deploy workflow for the project
  .github/common_environment.yml
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build.yml
  Makefile
  global_config/development.sh
  global_config/production.sh
  global_config/review.sh
  global_config/staging.sh
  terraform/aks/config/review.tfvars.json
Labels: Review, DevOps

#2972 Added destroy review apps to workflow
  .github/workflows/destroy_aks.yml
Labels: Review, DevOps

#2974 Added paas to aks db restore
  .github/workflows/paas_to_aks_db_backup_and_restore_manual.yml
  .gitignore
  Makefile
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/review.tfvars.json
  terraform/aks/config/staging.tfvars.json
  terraform/aks/variables.tf
Labels: Review, DevOps

#2975 To remove paas dev from workflow after merge
  .github/workflows/build.yml
Labels: Review, DevOps
