Repository DFE-Digital/schools-experience, pull requests merged in 2023-11, with the labels that each got.

#3009 Feature/101112 powerbi
  docs/documents/powerbi.md
Labels: Review, Documentation

#3016 testing get_next_mapping_aks.sh
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build.yml
  Makefile
  script/get_next_mapping_aks.sh
  terraform/aks/application.tf
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/review.tfvars.json
  terraform/aks/config/staging.tfvars.json
  terraform/aks/variables.tf
Labels: Review, DevOps

#3014 Dependabot sidekiq 6.5.12 update with nokogiri fix
  Dockerfile
  Gemfile.lock
Labels: docker, Review

#3018 Skip k8 setup when env is not review
  .github/workflows/actions/deploy_v2/action.yml
Labels: Review, DevOps

#3020 added az get credentials
  .github/workflows/destroy_aks.yml
Labels: Review, DevOps

#3019 Removed all expired paas code from MAKEFILE and the destroy paas work…
  .github/workflows/destroy.yml
  Makefile
Labels: Review, DevOps
