Repository DFE-Digital/schools-experience, pull requests merged in 2023-06, with the labels that each got.

#2887 Various dependency updates
  .github/dependabot.yml
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review, DevOps

#2897 Various dependency updates
  Gemfile.lock
  package.json
  yarn.lock
Labels: Review

#2898 Update env context to use staging.
  .github/workflows/check_sp.yml
Labels: Review, github_actions, DevOps

#2902 Deploy Azure resources for terraform
  Makefile
  global_config/development_aks.sh
Labels: Review
