Repository DFE-Digital/schools-experience, pull requests merged in 2023-08, with the labels that each got.

#2928 Deploy application
  terraform/aks/application.tf
  terraform/aks/database.tf
Labels: Review, DevOps

#2938 Deploy infrastructure in review environment
  Makefile
  global_config/review.sh
  terraform/aks/application.tf
  terraform/aks/config/review.tfvars.json
  terraform/aks/config/review_Terrafile
  terraform/aks/data.tf
  terraform/aks/database.tf
  terraform/aks/variables.tf
Labels: Review, DevOps

#2945 Changed the tag and service name to singular school
  Makefile
Labels: Review

#2946 Change url to API
  config/environments/development.rb
  config/environments/staging.rb
Labels: ruby, Review, Config

#2944 [576] Add Terraform code to manage DNS
  .gitignore
  Makefile
  global_config/domains.sh
  global_config/production.sh
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/environment_domains/config/development.tfvars.json
  terraform/domains/environment_domains/config/development_Terrafile
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/config/production_Terrafile
  terraform/domains/environment_domains/config/staging.tfvars.json
  terraform/domains/environment_domains/config/staging_Terrafile
  terraform/domains/environment_domains/main.tf
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/environment_domains/variables.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/config/zones.tfvars.json
  terraform/domains/infrastructure/config/zones_Terrafile
  terraform/domains/infrastructure/main.tf
  terraform/domains/infrastructure/terraform.tf
  terraform/domains/infrastructure/variables.tf
Labels: Review, DevOps, terraform

#2949 Change url to api
  config/environments/production.rb
Labels: ruby, Review, Config

#2950 Update URLs
  app/notify/notify_email/candidate_request_rejection_nopiii.74f84226-539a-43b0-b887-d8ffc9348965.md
  app/views/candidates/registrations/placement_requests/show.html.erb
  app/views/schools/placement_requests/cancellations/_letter.html.erb
Labels: ruby, Review
