Repository DFE-Digital/schools-experience, pull requests merged in 2023-04, with the labels that each got.

#2846 Whitelist gitis_uuid for dfe-analytics
  config/analytics.yml
  config/analytics_blocklist.yml
Labels: Review, Config

#2848 Various dependency updates
  Gemfile
  Gemfile.lock
  app/helpers/candidates/maps_helper.rb
  package.json
  yarn.lock
Labels: ruby, Review

#2833 Remove outdated google form
  app/views/pages/dfe_signin_help.html.erb
Labels: ruby, Review

#2851 Add TTA Sign Up link on GSE completion page
  app/views/candidates/registrations/placement_requests/show.html.erb
Labels: ruby, Review

#2853 Add Online Provider school type
  db/data/school_types.yml
Labels: Review
