Repository DFE-Digital/schools-experience, pull requests merged in 2024-12, with the labels that each got.

#3324 [2158] Replace terrafile
  .gitignore
  Makefile
  global_config/development.sh
  global_config/domains.sh
  global_config/production.sh
  global_config/review.sh
  global_config/staging.sh
  terraform/aks/config/development_Terrafile
  terraform/aks/config/production_Terrafile
  terraform/aks/config/review_Terrafile
  terraform/aks/config/staging_Terrafile
  terraform/domains/environment_domains/config/development_Terrafile
  terraform/domains/environment_domains/config/production_Terrafile
  terraform/domains/environment_domains/config/staging_Terrafile
  terraform/domains/infrastructure/config/zones_Terrafile
Labels: Review, DevOps

#3296 [2110] Enable dfe analytics federated authentication
  .env.production
  .env.staging
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  config/initializers/dfe_analytics.rb
  terraform/aks/.terraform.lock.hcl
  terraform/aks/application.tf
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/review.tfvars.json
  terraform/aks/config/staging.tfvars.json
  terraform/aks/dfe_analytics.tf
  terraform/aks/variables.tf
Labels: ruby, Review, Config, DevOps

#3327 [2110] Enable Bigquery federated auth in development AKS
  terraform/aks/config/development.tfvars.json
Labels: Review, DevOps

#3328 [2110] Enable bigquery federated auth in staging
  terraform/aks/config/staging.tfvars.json
Labels: Review, DevOps

#3314 Fixed rubocop factory class name
  .rubocop_todo.yml
  spec/factories/api_factory.rb
  spec/factories/bookings/placement_request_factory.rb
  spec/factories/bookings/school_factory.rb
  spec/factories/candidates/feedback.rb
  spec/factories/candidates/registrations/availability_preference_factory.rb
  spec/factories/candidates/registrations/background_check_factory.rb
  spec/factories/candidates/registrations/contact_information_factory.rb
  spec/factories/candidates/registrations/education_factory.rb
  spec/factories/candidates/registrations/gitis_registration_session_factory.rb
  spec/factories/candidates/registrations/legacy_registration_session.rb
  spec/factories/candidates/registrations/personal_information_factory.rb
  spec/factories/candidates/registrations/placement_preference_factory.rb
  spec/factories/candidates/registrations/registration_session_factory.rb
  spec/factories/candidates/registrations/subject_and_date_information_factory.rb
  spec/factories/candidates/registrations/teaching_preference_factory.rb
  spec/factories/schools/feedback.rb
  spec/factories/schools/on_boarding/access_needs_detail_factory.rb
  spec/factories/schools/on_boarding/access_needs_policy_factory.rb
  spec/factories/schools/on_boarding/access_needs_support_factory.rb
  spec/factories/schools/on_boarding/admin_contact_factory.rb
  spec/factories/schools/on_boarding/administration_fee_factory.rb
  spec/factories/schools/on_boarding/candidate_requirement_factory.rb
  spec/factories/schools/on_boarding/candidate_requirements_selection_factory.rb
  spec/factories/schools/on_boarding/confirmation_factory.rb
  spec/factories/schools/on_boarding/dbs_fee_factory.rb
  spec/factories/schools/on_boarding/dbs_requirement_factory.rb
  spec/factories/schools/on_boarding/description_factory.rb
  spec/factories/schools/on_boarding/disability_confident_factory.rb
  spec/factories/schools/on_boarding/experience_outline_factory.rb
  spec/factories/schools/on_boarding/fees_factory.rb
  spec/factories/schools/on_boarding/key_stage_list_factory.rb
  spec/factories/schools/on_boarding/other_fee_factory.rb
  spec/factories/schools/on_boarding/phases_list_factory.rb
  spec/factories/schools/on_boarding/teacher_training_factory.rb
Labels: Review, Test

#3329 [2110] Enable bigquery federated auth in production
  terraform/aks/config/production.tfvars.json
Labels: Review, DevOps

#3331 [2185] Fix delete review app
  .github/workflows/destroy.yml
  docs/documents/DevOps/database-migrations.md
  docs/documents/DevOps/manual-terraform.md
  docs/documents/DevOps/tools/trello.md
  docs/documents/DevOps/workflows.md
  docs/documents/disaster-recovery.md
Labels: Review, DevOps, Documentation

#3334 Add new postgres backup and restore workflows
  .github/workflows/db_backup.yml
  .github/workflows/postgres-ptr.yml
  .github/workflows/postgres-restore.yml
Labels: Review, DevOps
