Repository DFE-Digital/schools-experience, pull requests merged in 2024-05, with the labels that each got.

#3177 Remove outdated copy in bookings page.
  app/helpers/application_helper.rb
  app/views/schools/confirmed_bookings/index.html.erb
  config/initializers/phase_three_release_date.rb
Labels: ruby, Review, Config

#3179 CSS changes for checkbox
  app/webpacker/stylesheets/application.scss
  app/webpacker/stylesheets/school-search.scss
Labels: Review, Style

#3174 Update Ts and Cs following further advice
  app/views/pages/terms_and_conditions.html.erb
  app/views/schools/on_boarding/profiles/onboarding.html.erb
Labels: ruby, Review

#3191 [1797] Do not check dependencies in staging statuscake
  terraform/aks/config/staging.tfvars.json
Labels: Review, DevOps

#3168 Add breadcrumbs to pages without them
  app/views/schools/availability_preferences/edit.html.erb
  app/views/schools/confirmed_bookings/cancellations/notification_deliveries/show.html.erb
  app/views/schools/contact_us/show.html.erb
  app/views/schools/organisation_access_requests/show.html.erb
  app/views/schools/placement_dates/close_confirmation.html.erb
  app/views/schools/placement_requests/cancellations/notification_deliveries/show.html.erb
  app/views/schools/toggle_enabled/edit.html.erb
  features/schools/toggle_enabling_and_disabling.feature
Labels: ruby, Review

#3178 Further improve button grouping
  app/views/schools/change_schools/show.html.erb
  app/views/schools/csv_exports/_form.html.erb
  app/views/schools/csv_exports/show.html.erb
  app/views/schools/placement_requests/show.html.erb
Labels: ruby, Review

#3196 replace keyvault-yaml-secret with azcli
  .github/workflows/build-no-cache.yml
  .github/workflows/trello.yml
Labels: Review, DevOps

#3192 Remove routes and reference to school privacy policy in codebase
  app/controllers/pages_controller.rb
  app/views/layouts/application.html.erb
  app/views/pages/schools_privacy_policy.html.erb
  app/views/schools/dashboards/_update_your_school_profile.html.erb
  config/routes.rb
Labels: ruby, Review, Config

#3197 Update govuk frontend to 5.4.0
  app/views/candidates/home/guide_for_candidates.html.erb
  app/views/candidates/home/index.html.erb
  app/views/kaminari/_paginator.html.erb
  app/views/layouts/application.html.erb
  app/views/schools/on_boarding/access_needs_supports/_form.html.erb
  app/webpacker/stylesheets/application.scss
  package.json
  yarn.lock
Labels: ruby, Review, Style

#3198 Surface location validation
  app/models/bookings/school_search.rb
  app/views/candidates/school_searches/new.html.erb
  app/views/pages/accessibility_statement.html.erb
  app/views/schools/dashboards/_requests_and_bookings.html.erb
  bin/shakapacker
  bin/shakapacker-dev-server
  bin/yarn
  config/locales/en.yml
  features/candidates/schools/search/results/filtering.feature
  features/candidates/schools/search/results/sorting.feature
  features/schools/dashboard.feature
  features/step_definitions/candidates/schools/sorting_steps.rb
  spec/models/bookings/placement_request/cancellation_spec.rb
  spec/models/bookings/school_search_spec.rb
Labels: ruby, Review, Test, Config
