Repository DFE-Digital/schools-experience, pull requests merged in 2024-01, with the labels that each got.

#3036 removed all references to paas
  .github/common_environment.yml
  .github/dependabot.yml
  .github/workflows/actions/database-backup/action.yml
  .github/workflows/actions/deploy/action.yml
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build.yml
  .github/workflows/db_backup.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  Gemfile
  Makefile
  README.md
  docker-compose-ci.yml
  docs/documents/DevOps/manual-terraform.md
  docs/documents/DevOps/workflows.md
  docs/documents/disaster-recovery.md
  docs/documents/powerbi.md
  script/get_next_ing_mapping.sh
  script/get_next_mapping.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/review.tfvars.json
  terraform/aks/config/staging.tfvars.json
  terraform/aks/config/staging_Terrafile
  terraform/aks/variables.tf
  terraform/paas/.gitignore
  terraform/paas/.terraform.lock.hcl
  terraform/paas/application.tf
  terraform/paas/backend.tf
  terraform/paas/data.tf
  terraform/paas/dev.bk.vars
  terraform/paas/dev.env.tfvars
  terraform/paas/domain.tf
  terraform/paas/migrate/MIGRATE.md
  terraform/paas/migrate/manifest.yml
  terraform/paas/network.tf
  terraform/paas/production.bk.vars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.bk.vars
  terraform/paas/review.env.tfvars
  terraform/paas/route.tf
  terraform/paas/services.tf
  terraform/paas/space.tf
  terraform/paas/staging.bk.vars
  terraform/paas/staging.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/variables.tf
Labels: Review, DevOps, Documentation

#3050 [884] Bug school experience build failing
  .github/workflows/build.yml
  Dockerfile
Labels: docker, Review, DevOps

#3054 added healthcheck
  config/routes.rb
  terraform/aks/application.tf
Labels: ruby, Review, Config, DevOps

#3058 fix routes issues
  .tool-versions
  config/environments/production.rb
Labels: ruby, Review, Test, Config

#3057 implement smoke test
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  tests/confidence/healthcheck.sh
Labels: ruby, Review, Test, Config, DevOps

#3059 Update govuk-frontend from `4.0.1` to `4.7.0`
  features/step_definitions/candidates/registrations/request_school_experience_placement_steps.rb
  yarn.lock
Labels: Review

#3063 RBAC changes implemented
  .github/workflows/actions/database-backup/action.yml
  .github/workflows/actions/deploy/action.yml
  .github/workflows/destroy.yml
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/terraform.tf
Labels: Review, DevOps
