Repository DFE-Digital/schools-experience, pull requests merged in 2024-04, with the labels that each got.

#3123 Invite Update buttons
  app/views/schools/users/_form.html.erb
  app/views/schools/users/index.html.erb
  app/views/schools/users/show.html.erb
Labels: ruby, Review

#3109 Implement GOV.UK Frontend v5.0 on Get school experience and Manage school experience
  app/helpers/schools/bookings_helper.rb
  app/helpers/schools/placement_dates_helper.rb
  app/views/candidates/placement_requests/cancellations/_new_booking.html.erb
  app/views/candidates/registrations/availability_preferences/_form.html.erb
  app/views/candidates/schools/profile/_placement_dates.html.erb
  app/views/layouts/application.html.erb
  app/views/pages/dfe_signin_help.html.erb
  app/views/pages/help_and_support_access_needs.html.erb
  app/views/schools/availability_preferences/edit.html.erb
  app/views/schools/change_schools/show.html.erb
  app/views/schools/csv_exports/show.html.erb
  app/views/schools/dashboards/_no_placement_dates_warning.html.erb
  app/views/schools/on_boarding/previews/show.html.erb
  app/views/schools/on_boarding/profiles/onboarding.html.erb
  app/views/schools/placement_requests/acceptance/make_changes/new.html.erb
  app/views/schools/placement_requests/show.html.erb
  app/views/schools/withdrawn_requests/index.html.erb
  app/views/shared/application/_phase_banner.html.erb
  app/views/shared/candidates/_alert_notification.html.erb
  app/webpacker/packs/application.js
  app/webpacker/packs/gtm.js
  app/webpacker/stylesheets/application.scss
  app/webpacker/stylesheets/global-styles.scss
  config/shakapacker.yml
  features/step_definitions/common_steps.rb
  package.json
  spec/helpers/schools/bookings_helper_spec.rb
  spec/helpers/schools/placement_dates_helper_spec.rb
  yarn.lock
Labels: ruby, Review, Test, Config, Style

#3130 Help links update
  app/views/schools/change_schools/show.html.erb
  app/views/schools/dashboards/_help_and_support.html.erb
  features/schools/dashboard.feature
Labels: ruby, Review, Test, Config

#3133 Add links to privacy notice on matchback page
  app/views/candidates/registrations/personal_informations/_form.html.erb
Labels: ruby, Review

#3128 Create Ts and Cs page
  app/views/layouts/application.html.erb
  app/views/pages/terms_and_conditions.html.erb
  config/routes.rb
Labels: ruby, Review, Test, Config

#3127 Create new service update
  data/service_updates/20240402.yml
Labels: ruby, Review, Test, Config

#3144 Added infra team group to statuscake
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/staging.tfvars.json
  terraform/aks/statuscake.tf
  terraform/aks/variables.tf
Labels: Review, DevOps

#3145 Remove copy on COVID procedures
  app/views/candidates/home/guide_for_candidates.html.erb
Labels: ruby, Review

#3148 Update Dockerfile to use Ruby 3.1.4-alpine3.18
  .ruby-version
  Dockerfile
  Gemfile.lock
Labels: docker, Review

#3152 ZAP Scan docker image upgrade
  .github/workflows/build.yml
Labels: Review, DevOps

#3147 Fix full stop in anchor link
  app/views/schools/confirmed_bookings/cancellations/_letter.html.erb
Labels: ruby, Review

#3154 Re add request access button on DSI work
  app/views/schools/change_schools/show.html.erb
  app/views/schools/errors/auth_failed/show.html.erb
  spec/views/schools/change_schools/show.html.erb_spec.rb
Labels: ruby, Review, Test

#3138 Remove all candidate facing links to dashboard and redirect from relevant URLs
  app/views/candidates/booking_feedbacks/show.html.erb
  app/views/candidates/feedbacks/show.html.erb
  app/views/candidates/home/index.html.erb
  app/views/candidates/placement_requests/cancellations/_show_booking_cancelled_by_candidate.html.erb
  app/views/candidates/placement_requests/cancellations/_show_booking_cancelled_by_school.html.erb
  app/views/candidates/placement_requests/cancellations/_show_placement_request_cancelled_by_candidate.html.erb
  app/views/candidates/placement_requests/cancellations/_show_placement_request_cancelled_by_school.html.erb
  app/views/candidates/registrations/placement_requests/show.html.erb
  config/routes.rb
  features/candidates/booking_feedback.feature
  features/candidates/dashboard.feature
  features/candidates/feedback.feature
  spec/controllers/candidates/dashboards_controller_spec.rb
  spec/controllers/candidates/sessions_controller_spec.rb
  spec/features/candidates/api_registrations_spec.rb
  spec/features/cookie_preferences_spec.rb
Labels: ruby, Review, Test, Config

#3155 Improve DBS page (candidate flow) accessibility
  app/views/candidates/registrations/background_checks/_form.html.erb
Labels: ruby, Review

#3146 Improve page candidate sees when school cancels booking first
  app/views/candidates/placement_requests/cancellations/_show_booking_cancelled_by_school.html.erb
Labels: ruby, Review

#3161 Feature/1747 school experience bug
  .github/workflows/build.yml
  .github/workflows/manual.yml
  terraform/aks/.terraform.lock.hcl
Labels: Review, DevOps

#3165 Fix placement_date_option.rb to handle nil bookings_subject
  app/models/candidates/placement_date_option.rb
  app/views/candidates/schools/profile/_placement_dates.html.erb
Labels: ruby, Review

#3166 Filter hidden subjects in Schools `secondary_subjects`
  app/models/bookings/subject.rb
  app/models/candidates/placement_date_option.rb
Labels: ruby, Review

#3163 Find + replace GITIS -> Get Into Teaching service
  app/views/candidates/home/index.html.erb
  app/views/candidates/registrations/application_previews/show.html.erb
  app/views/candidates/registrations/sign_ins/show.html.erb
Labels: ruby, Review

#3157 Improve button groupings (first tranche)
  app/views/schools/confirm_attendance/show.html.erb
  app/views/schools/dashboards/_no_placement_dates_warning.html.erb
  app/views/schools/on_boarding/profiles/editing.html.erb
  app/views/schools/on_boarding/profiles/onboarding.html.erb
  app/views/schools/placement_dates/index.html.erb
  app/views/schools/toggle_enabled/edit.html.erb
  features/schools/placement_dates/index.feature
Labels: ruby, Review

#3167 Exclude hidden subjects from `placement_date_subjects` query
  app/services/candidates/registrations/subject_and_date_information.rb
  db/data/subjects.yml
Labels: ruby, Review

#3169 Refactor `#placement_date_subject`
  app/services/candidates/registrations/subject_and_date_information.rb
  db/data/subjects.yml
  spec/services/candidates/registrations/subject_and_date_information_spec.rb
Labels: ruby, Review, Test

#3173 Revert "Refactor `#placement_date_subject`"
  app/services/candidates/registrations/subject_and_date_information.rb
  db/data/subjects.yml
  spec/services/candidates/registrations/subject_and_date_information_spec.rb
Labels: ruby, Review, Test

#3160 Add new T&Cs for GDPR retention policies
  app/views/pages/terms_and_conditions.html.erb
Labels: ruby, Review

#3156 Improve location of our school privacy notice
  app/views/schools/dashboards/_update_your_school_profile.html.erb
  app/views/schools/on_boarding/profiles/onboarding.html.erb
Labels: ruby, Review

#3176 Remove capitalisation on word 'Bookings'
  app/views/schools/dashboards/_requests_and_bookings.html.erb
  features/schools/dashboard.feature
Labels: ruby, Review

#3175 Update Dev docs
  README.md
  docs/documents/dfe-signin.md
  docs/documents/mse-user-invite.md
Labels: Review, Documentation
