Repository DFE-Digital/schools-experience, pull requests merged in 2024-07, with the labels that each got.

#3233 Update github actions versions
  .github/workflows/actions/database-backup/action.yml
  .github/workflows/actions/deploy/action.yml
Labels: Review, DevOps

#3234 Scrape custom metrics
  terraform/aks/application.tf
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/staging.tfvars.json
  terraform/aks/variables.tf
Labels: Review, DevOps

#3235 Add `degree_subject_autocomplete` feature flag
  .env.production
  .env.staging
  .env.test
  app/services/candidates/registrations/behaviours/education.rb
  spec/services/candidates/registrations/education_spec.rb
Labels: ruby, Review, Test

#3239 [1639] Workflow minor improvements
  .github/workflows/actions/database-backup/action.yml
  .github/workflows/build.yml
  .github/workflows/check_sp.yml
  .github/workflows/db_backup.yml
Labels: Review, DevOps

#3238 Remove Universal Analytics cookies
  .env.production
  .env.staging
  app/models/cookie_preference.rb
  docs/documents/env-vars.md
  spec/models/cookie_preference_spec.rb
Labels: ruby, Review, Test, Documentation

#3236 Scrape worker custom metrics
  terraform/aks/application.tf
Labels: Review, DevOps

#3241 Remove reference to universal analytics from cookie policy
  app/views/pages/cookies_policy.html.erb
Labels: ruby, Review

#3237 Auto-complete field for degree subject
  .env.production
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/candidates/registrations/educations_controller.rb
  app/services/candidates/registrations/behaviours/education.rb
  app/services/candidates/registrations/education.rb
  app/views/candidates/registrations/educations/_form.html.erb
  app/webpacker/controllers/education_form_controller.js
  app/webpacker/packs/application.js
  app/webpacker/stylesheets/application.scss
  config/initializers/inflections.rb
  config/locales/en.yml
  features/schools/cancelled_bookings/show.feature
  features/schools/confirmed_bookings/show.feature
  features/schools/previous_bookings/show.feature
  features/schools/rejected_requests/show.feature
  features/schools/withdrawn_requests/show.feature
  features/step_definitions/candidates/registrations/application_preview_steps.rb
  features/step_definitions/candidates/registrations/education_steps.rb
  features/step_definitions/candidates/registrations/subject_preferences_steps.rb
  features/step_definitions/candidates/registrations/wizard_steps.rb
  package.json
  spec/controllers/candidates/registrations/background_checks_controller_spec.rb
  spec/controllers/candidates/registrations/confirmation_emails_controller_spec.rb
  spec/controllers/candidates/registrations/educations_controller_spec.rb
  spec/controllers/candidates/registrations/placement_preferences_controller_spec.rb
  spec/controllers/schools/archived_placement_requests_controller_spec.rb
  spec/controllers/schools/attendances_controller_spec.rb
  spec/controllers/schools/cancelled_bookings_controller_spec.rb
  spec/controllers/schools/confirm_attendance_controller_spec.rb
  spec/controllers/schools/confirmed_bookings/cancellations/notification_deliveries_controller_spec.rb
  spec/controllers/schools/confirmed_bookings/cancellations_controller_spec.rb
  spec/controllers/schools/confirmed_bookings/date_controller_spec.rb
  spec/controllers/schools/confirmed_bookings_controller_spec.rb
  spec/controllers/schools/placement_requests/acceptance/confirm_booking_controller_spec.rb
  spec/controllers/schools/placement_requests/acceptance/make_changes_controller_spec.rb
  spec/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller_spec.rb
  spec/controllers/schools/placement_requests/cancellations/notification_deliveries_controller_spec.rb
  spec/controllers/schools/placement_requests/cancellations_controller_spec.rb
  spec/controllers/schools/placement_requests/past_attendance_controller_spec.rb
  spec/controllers/schools/placement_requests/under_consideration_controller_spec.rb
  spec/controllers/schools/placement_requests_controller_spec.rb
  spec/controllers/schools/previous_bookings_controller_spec.rb
  spec/controllers/schools/rejected_requests_controller_spec.rb
  spec/controllers/schools/withdrawn_requests_controller_spec.rb
  spec/factories/bookings/placement_request_factory.rb
  spec/factories/bookings/placement_requests_factory.rb
  spec/factories/candidates/registrations/education_factory.rb
  spec/factories/candidates/registrations/legacy_registration_session.rb
  spec/features/candidates/api_registrations_spec.rb
  spec/models/bookings/placement_request_spec.rb
  spec/services/candidates/registrations/education_spec.rb
  spec/services/candidates/registrations/registration_as_placement_request_spec.rb
  spec/support/degree_subject_autocomplete.rb
  yarn.lock
Labels: ruby, Review, Test, Config, Style

#3242 Fix versioning issue
  .nvmrc
  .tool-versions
Labels: Review

#3246 No js degree inputbox
  app/controllers/candidates/registrations/educations_controller.rb
  app/services/candidates/registrations/behaviours/education.rb
  app/services/candidates/registrations/education.rb
  app/views/candidates/registrations/educations/_form.html.erb
  app/webpacker/controllers/education_form_controller.js
  app/webpacker/stylesheets/application.scss
  app/webpacker/stylesheets/candidate.scss
  config/locales/en.yml
  features/candidates/registrations/education.feature
  features/step_definitions/candidates/registrations/application_preview_steps.rb
  features/step_definitions/candidates/registrations/education_steps.rb
  features/step_definitions/candidates/registrations/subject_preferences_steps.rb
  features/step_definitions/candidates/registrations/wizard_steps.rb
  spec/features/candidates/api_registrations_spec.rb
Labels: ruby, Review, Test, Config, Style

#3244 Remove unused seen_cookie_message spec
  spec/requests/cookie_banner_spec.rb
Labels: Review, Test

#3245 Fix Docker not building with Apple Silicon
  Dockerfile
Labels: docker, Review
