Repository DFE-Digital/schools-experience, pull requests merged in 2024-09, with the labels that each got.

#3274 Update git api library to 3.4.0 and save degree title
  Gemfile
  Gemfile.lock
  app/models/bookings/registration_contact_mapper.rb
Labels: ruby, Review

#3276 Updating dfe analytics
  Gemfile
  Gemfile.lock
  config/analytics_hidden_pii.yml
  config/analytics_pii.yml
Labels: Review, Config

#3280 Update powerbi doc with SP renewal instructions
  docs/documents/powerbi.md
Labels: Review, DevOps, Documentation

#3278 Removing DEGREE_SUBJECT_AUTOCOMPLETE_ENABLED feature flag
  .env.production
  .env.staging
  .env.test
  app/services/candidates/registrations/behaviours/education.rb
  app/views/candidates/registrations/educations/_form.html.erb
  package.json
  spec/controllers/candidates/registrations/background_checks_controller_spec.rb
  spec/controllers/candidates/registrations/confirmation_emails_controller_spec.rb
  spec/controllers/candidates/registrations/educations_controller_spec.rb
  spec/controllers/candidates/registrations/placement_preferences_controller_spec.rb
  spec/controllers/schools/archived_placement_requests_controller_spec.rb
  spec/controllers/schools/attendances_controller_spec.rb
  spec/controllers/schools/cancelled_bookings_controller_spec.rb
  spec/controllers/schools/confirm_attendance_controller_spec.rb
  spec/controllers/schools/confirmed_bookings/cancellations/notification_deliveries_controller_spec.rb
  spec/controllers/schools/confirmed_bookings/cancellations_controller_spec.rb
  spec/controllers/schools/confirmed_bookings/date_controller_spec.rb
  spec/controllers/schools/confirmed_bookings_controller_spec.rb
  spec/controllers/schools/placement_requests/acceptance/confirm_booking_controller_spec.rb
  spec/controllers/schools/placement_requests/acceptance/make_changes_controller_spec.rb
  spec/controllers/schools/placement_requests/acceptance/preview_confirmation_email_controller_spec.rb
  spec/controllers/schools/placement_requests/cancellations/notification_deliveries_controller_spec.rb
  spec/controllers/schools/placement_requests/cancellations_controller_spec.rb
  spec/controllers/schools/placement_requests/past_attendance_controller_spec.rb
  spec/controllers/schools/placement_requests/under_consideration_controller_spec.rb
  spec/controllers/schools/placement_requests_controller_spec.rb
  spec/controllers/schools/previous_bookings_controller_spec.rb
  spec/controllers/schools/rejected_requests_controller_spec.rb
  spec/controllers/schools/withdrawn_requests_controller_spec.rb
  spec/services/candidates/registrations/education_spec.rb
  spec/support/degree_subject_autocomplete.rb
  yarn.lock
Labels: ruby, Review, Test
