Repository DFE-Digital/schools-experience, pull requests merged in 2024-03, with the labels that each got.

#3087 Remove realistic job previews link from Get school experience
  app/views/candidates/schools/index.html.erb
Labels: ruby, Review

#3088 Copy Changes on Manage GSE
  app/views/schools/change_schools/show.html.erb
  app/views/schools/dashboards/_profile_and_dates.html.erb
  app/views/schools/show.html.erb
  spec/views/schools/change_schools/show.html.erb_spec.rb
Labels: ruby, Review, Test, Config

#3080 Invite Users to GSE
  app/controllers/schools/users_controller.rb
  app/services/schools/dfe_sign_in_api/organisation.rb
  app/services/schools/dfe_sign_in_api/organisation_users.rb
  app/services/schools/dfe_sign_in_api/user_invite.rb
  app/views/schools/dashboards/_profile_and_dates.html.erb
  app/views/schools/users/_form.html.erb
  app/views/schools/users/index.html.erb
  app/views/schools/users/new.html.erb
  app/views/schools/users/show.html.erb
  config/routes.rb
  spec/services/schools/dfe_sign_in_api/organisation_spec.rb
  spec/services/schools/dfe_sign_in_api/organisation_users_spec.rb
  spec/services/schools/dfe_sign_in_api/user_invite_spec.rb
Labels: ruby, Review, Test, Config, DevOps

#3103 Improve error message for DBS certificate question on candidate flow
  config/locales/en.yml
Labels: Review, Config

#3105 Address review feedback on schools user invite
  app/controllers/schools/users_controller.rb
  app/notify/notify_email/school_user_invite.8ac4d9f9-f51d-4c3b-9cc7-fd59751ece3d.md
  app/notify/notify_email/school_user_invite.rb
  app/services/schools/dfe_sign_in_api/organisation_users.rb
  app/services/schools/dfe_sign_in_api/user_invite.rb
  app/views/schools/users/_form.html.erb
  app/views/schools/users/index.html.erb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/servertest.rb
  config/environments/staging.rb
  config/environments/test.rb
  spec/notify/notify_email/school_user_invite_spec.rb
Labels: ruby, Review, Test, Config

#3104 Update accessibility statement
  app/views/pages/accessibility_statement.html.erb
  public/reports/school-experience-accessibility-report.pdf
Labels: ruby, Review

#3112 Amend typo in 'guide for candidates' link
  app/views/candidates/home/index.html.erb
Labels: ruby, Review

#3108 MSE Copy Updates
  app/views/pages/dfe_signin_help.html.erb
  app/views/schools/show.html.erb
Labels: ruby, Review, Config

#3111 Update user invite flow
  app/controllers/schools/users_controller.rb
  app/services/schools/dfe_sign_in_api/organisation_users.rb
  app/views/schools/dashboards/_profile_and_dates.html.erb
  app/views/schools/users/index.html.erb
  spec/services/schools/dfe_sign_in_api/organisation_users_spec.rb
Labels: ruby, Review, Test, Config
