Repository DFE-Digital/schools-experience, pull requests merged in 2024-06, with the labels that each got.

#3208 Remove all references to service updates
  app/controllers/pages_controller.rb
  app/controllers/schools/dashboards_controller.rb
  app/controllers/service_updates_controller.rb
  app/models/service_update.rb
  app/views/pages/cookies_policy.html.erb
  app/views/schools/dashboards/_help_and_support.html.erb
  app/views/schools/dashboards/_service_update_notice.html.erb
  app/views/schools/dashboards/show.html.erb
  app/views/service_updates/_service_update.html.erb
  app/views/service_updates/index.html.erb
  app/views/service_updates/show.html.erb
  config/routes.rb
  data/service_updates/.keep
  data/service_updates/20190701.yml
  data/service_updates/20200324.yml
  data/service_updates/20210222.yml
  data/service_updates/20211025.yml
  data/service_updates/20220127.yml
  data/service_updates/20220322.yml
  data/service_updates/20240502.yml
  features/schools/service_updates.feature
  features/step_definitions/schools/dashboard_steps.rb
  features/support/path_helper.rb
  spec/controllers/schools/dashboards_controller_spec.rb
  spec/controllers/service_updates_controller_spec.rb
  spec/factories/service_update_factory.rb
  spec/models/service_update_spec.rb
Labels: ruby, Review, Test, Config

#3212 Fix onboarding agreement
  app/views/schools/on_boarding/profiles/onboarding.html.erb
Labels: ruby, Review

#3214 Remove two ticks scheme copy
  app/views/schools/on_boarding/disability_confidents/_form.html.erb
Labels: ruby, Review

#3213 Improve contact us section content
  app/views/schools/dashboards/_help_and_support.html.erb
  features/schools/dashboard.feature
Labels: ruby, Review

#3211 Disable rack-timeout logging
  config/initializers/timeout.rb
Labels: ruby, Review, Config

#3209 Service Onboard to Logit.io
  terraform/aks/application.tf
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/review.tfvars.json
  terraform/aks/config/staging.tfvars.json
  terraform/aks/variables.tf
Labels: Review, DevOps

#3219 logit.io enabled on prod
  terraform/aks/config/production.tfvars.json
Labels: Review, DevOps

#3222 Update dfe-analytics and switch on an entity table check
  Gemfile
  Gemfile.lock
  README.md
  config/initializers/dfe_analytics.rb
  config/schedule.yml
  spec/jobs/cron/send_entity_table_checks_to_bigquery_spec.rb
  spec/spec_helper.rb
Labels: ruby, Review, Test, Config
