Repository DFE-Digital/schools-experience, pull requests merged in 2025-02, with the labels that each got.

#3351 Upgrade ruby from 3.1 to 3.4
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
Labels: docker, Review

#3362 Disable JS-selenium based tests
  features/candidates/feedback.feature
  features/candidates/registrations/availability_preference.feature
  features/candidates/registrations/education.feature
  features/candidates/registrations/experience_preference.feature
  features/candidates/schools/search/results/filtering.feature
  features/candidates/schools/search/results/sorting.feature
  features/schools/feedback.feature
  features/schools/placement_dates/primary_and_secondary_school_configuration.feature
  features/schools/placement_dates/primary_school_configuration.feature
  features/schools/placement_dates/secondary_school_configuration.feature
  features/schools/placement_requests/cancelling.feature
Labels: Review

#3349 Add tf variable for sending traffic to maintenance page
  terraform/aks/application.tf
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/staging.tfvars.json
  terraform/aks/variables.tf
Labels: Review, DevOps

#3366 Update schools experience workflows to use ga wif
  .github/workflows/actions/database-backup/action.yml
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  .github/workflows/db_backup.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/maintenance.yml
  .github/workflows/manual.yml
  .github/workflows/postgres-ptr.yml
  .github/workflows/postgres-restore.yml
  .github/workflows/trello.yml
  terraform/aks/.terraform.lock.hcl
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
Labels: Review, DevOps

#3368 fix schools data updater
  app/models/bookings/data/school_mass_importer.rb
  app/models/bookings/data/school_updater.rb
  app/models/concerns/edubase_data_helpers.rb
  spec/models/bookings/data/school_mass_importer_spec.rb
  spec/models/bookings/data/school_updater_spec.rb
Labels: ruby, Review, Test

#3370 Configure kubeconfig for Azure AD authentication AAD_LOGIN_METHOD
  Makefile
  terraform/aks/terraform.tf
Labels: Review, DevOps
