Repository DFE-Digital/schools-experience, pull requests merged in 2025-08, with the labels that each got.

#3416 use build-docker-image github action
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  Dockerfile
Labels: docker, Review, DevOps

#3429 Add the master image to the build cache list
  .github/workflows/build.yml
Labels: Review, DevOps

#3436 Upgrade Ruby version to 3.4.5
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile.lock
Labels: docker, Review

#3437 feat(2447): gse: add recover postgres db workflow
  .github/workflows/restore-deleted-postgres.yml
Labels: DevOps
